<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap %}
<!-- Rev. {{ GIT_BRANCH }} :: {{ GIT_COMMIT }} -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title%} {% endblock %}</title>
    <!-- Apple Web App -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'stats/custom.css' %}"/>
    <!--<link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <script src="{% static 'stats/jquery.confirm.min.js' %}"></script>
    <script src="{% static 'stats/filter_tools.js' %}"></script>
  </head>

<body style="padding-top: 70px;">
<div>
    <div class="container">
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="{{ league.url }}">{{ league.name }}</a>
        <a href="{% url 'divisions' %}" class="{% active_page request 'divisions' %}">Divisions</a>
        <a href="{% url 'teams' %}" class="{% active_page request 'teams' %}">Teams</a>
        <a href="{% url 'players' %}" class="{% active_page request 'players' %}">Players</a>
        <nav>
            <a class="navbar-toggler" href="{% url 'weeks' %}">• Weeks</a>
            {% for season_week in season.week_set.all|dictsort:"date" %}
            <a class="dropdown-item" href="{% url 'week' season_week.id%}">{{ season_week }}</a>
            {% endfor %}
        </nav>
        <nav>
            <a  href="{% url 'seasons' %}">• All seasons</a>
            {% for some_season in seasons %}
            <a href="{% url 'set_season' some_season.id%}">{{ some_season }}</a>
            {% endfor %}
        </nav>

        <a href="{% url 'admin:index' %}">Admin</a>
    </nav>
    </div>
</div>
<div class="container container-main">
  <h5>{{ season }}</h5>
  <div id="content">
  {% block content %}{% endblock %}
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <hr />
    {% if league.logo %}
    <img src="{{ league.logo }}" />
    {% endif %}
  </div>
</div>
</body>
</html>
