{% extends "stats/base.html" %}

{% block title %}SFPA :: matchup{% endblock %}

{% block content %}
<div class="text-center">
<h2>Matchup</h2>
</div>
<form action="{% url 'matchup' %}" method="get">
    {% csrf_token %}
    <select name="kind">
        <option value="scoresheet">scoresheet</option>
        <option value="match">match</option>
    </select>
    <input type="text" name="thing"/>
</form>
    <table class="table" data-sort-name="Rank" data-toggle="table" data-sort-order="asc" id="foo">
  <thead>
    <tr>
        <th style="text-align:right;">Away</th>
        <th>A pct</th>
        <th>Home</th>
    </tr>
  </thead>
    <tbody>

    {% for match_up in match_ups %}
    <tr>
        <td style="text-align:right;" class="scoresheet-cell"><div class="scoresheet-cell"><a href="{% url 'player' match_up.away.player.id %}">{{ match_up.away.player }}</a> ({{ match_up.away.elo|floatformat:0 }})</div></td>
        <td style="text-align:right;">{{ match_up.pct|floatformat:2 }}</td></td>
        <td><a href="{% url 'player' match_up.home.player.id %}">{{ match_up.home.player }}</a> ({{ match_up.home.elo|floatformat:0 }})</td>
    </tr>
    {% endfor %}
    <tr>
    <td colspan="2">expected wins for away team:</td><td>{{ expected_wins|floatformat:3 }}</td>
    </tr>
    </tbody>


    </table>

{% endblock %}