{% extends "stats/base.html" %}

{% block title %}SFPA :: Players{% endblock %}

{% block content %}
<div class="text-center">
<h2>Players</h2>
</div>
<div class="pull-right search"><input id="filter" class="form-control" type="search" placeholder="Filter"></div>
{% include "stats/player_table.html" %}
<script>
$(document).ready(function () {
    (function ($) {
        $('#filter').keyup(function () {
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();
        })
    }(jQuery));
});
</script>
{% endblock %}
