{% extends "stats/base.html" %}
{% load staticfiles %}

{% block title %}SFPA :: {{ player }}{% endblock %}

{% block content %}
{% if player %}
<h3>{{ player }} / {{ detail_season }}</h3>
<div>
{% for score_sheet_summary in score_sheet_summaries %}
<div class="player-games"><h5>{{ score_sheet_summary.match.week.date}}: {{ score_sheet_summary.match.week }}</h5>
<table style="width: auto;" class="table table-condensed table-responsive">
  <thead>
    <tr>
        <th colspan="4"><a href="{% url 'score_sheet' score_sheet_summary.id %}">{{ score_sheet_summary.match.away_team }} @ {{ score_sheet_summary.match.home_team }}</a></th>
    </tr>
    <tr>
        <th>Opponent</th>
        <th>Result</th>
        <th>TR</th>
    </tr>
  </thead>
  <tbody>
    {% for game in score_sheet_summary.games %}
    <tr>
        <td><a href="{% url 'player' game.opponent.id %}">{{ game.opponent }}</a></td>
        <td>{% if game.win %}W{% else %}L{% endif %}</td>
        <td>{% if game.table_run %}&#x2714;{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endfor %}
</div>
<table class="table sortable">
  <thead>
    <tr><th>Season</th><th>Team</th><th>Wins</th><th>Losses</th>
        <th>Percentage</th><th>TRs</th><th>4-0s</th></tr>
  </thead>
  <tbody>
    {% for summary in summaries %}
        {% comment %}
        This is not the ideal place to defend against summaries we shouldn't have for players that
        didn't play that don't have team linked to them, but here it is.
        {% endcomment %}
    {% if summary.team %}
    <tr>
        <td><a href="{% url 'player' summary.player.id summary.season.id %}">{{ summary.season }}</a></td>
        <td><a href="{% url 'team' summary.team.id %}">{{ summary.team }}</a></td>
        <td>{{ summary.wins }}</td>
        <td>{{ summary.losses }}</td>
        <td>{{ summary.win_percentage|floatformat:3 }}</td>
        <td>{{ summary.table_runs }}</td>
        <td>{{ summary.four_ohs }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  <tbody>
</table>
{{ player.season_summary_set }}
{% endif %}
{% endblock %}
