{% extends "stats/base.html" %}
{% block title %}SFPA :: ELO history :: {{ player }}{% endblock %}
{% block content %}

    <h2>{{ player }}</h2>

<table style="width: auto;" class="table table-condensed table-responsive">
    <tr>
        <th>date</th>
        <th>vs</th>
        <th>opp rating</th>
        <th>w/l</th>
        <th>new rating</th>
    </tr>
{% for item in history %}
    <tr>
        <td>
            <a href="{% url 'score_sheet' item.player.game.scoresheet_set.all.0.id %}">{{ item.player.game.scoresheet_set.all.0.match.week.date }}</a>
        </td>
        <td>
            {% if item.player.game.away_player_id == player.id %}
            <a href="{% url 'player_elo' item.player.game.home_player_id %}">{{ item.player.game.home_player }}</a>
            {% else %}
            <a href="{% url 'player_elo' item.player.game.away_player_id %}">{{ item.player.game.away_player }}</a>
            {% endif %}
        </td>
        <td>
            {{ item.opponent.rating|floatformat:0 }}
        </td>
        <td>
        {{ item.wl }}
        </td>
        <td>
            {{ item.player.rating|floatformat:0 }}
        </td>
    </tr>
{% endfor %}

    </table>

{% endblock %}