{% extends "stats/base.html" %}
{% load staticfiles %}

{% block title %}SFPA :: {{ player }}{% endblock %}

{% block content %}
{% if player %}
<h1>{{ player }}</h1>
<h3>{{ request.session.season }}</h3>


{% for score_sheet in score_sheets %}
<h5>{{ score_sheet.match.week.date}}: {{ score_sheet.match.week }}</h5>
<table class="table">
    <tr>
        <th colspan="4"><a href="{% url 'score_sheet' score_sheet.id %}">{{ score_sheet.match.away_team }} @ {{ score_sheet.match.home_team }}</a></th>
    </tr>
    <tr>
        <th>home</th>
        <th>away</th>
        <th>TR</th>
    </tr>
    {% for game in score_sheet.games.all %}
    {% comment %}
    This defensive check for a null opponent (ie a forfeit game) really should be
    in the model, or failing that, the view, but here it is.
    {% endcomment %}
    <!-- skip listing games with no winner, ie playoff games that were never played -->
    {% if game.away_player == player and game.home_player and game.winner %}
    <tr>
        <td><a href="{% url 'player' game.home_player.id %}">{% if game.winner == "home" %}<b>{{ game.home_player }}</b>{% else %}{{ game.home_player }}{% endif %}</a></td>
        <td><a href="{% url 'player' game.away_player.id %}">{% if game.winner == "away" %}<b>{{ game.away_player }}</b>{% else %}{{ game.away_player }}{% endif %}</a></td>
        <td>{% if game.table_run %} <img height=16 width=16 src="{% static 'stats/check-mark.png' %}"/>{% endif %}</td>
    </tr>
    {% endif %}
    {% if game.home_player == player and game.away_player and game.winner %}
    <tr>
        <td><a href="{% url 'player' game.home_player.id %}">{% if game.winner == "home" %}<b>{{ game.home_player }}</b>{% else %}{{ game.home_player }}{% endif %}</a></td>
        <td><a href="{% url 'player' game.away_player.id %}">{% if game.winner == "away" %}<b>{{ game.away_player }}</b>{% else %}{{ game.away_player }}{% endif %}</a></td>
        <td>{% if game.table_run %} <img height=16 width=16 src="{% static 'stats/check-mark.png' %}"/>{% endif %}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

{% endfor %}
<table class="table">
    <tr><th>Season</th><th>Wins</th><th>Losses</th><th>Percentage</th></tr>
    {% for summary in summaries %}
    <tr>
        <td>{{ summary.season }}</td>
        <td>{{ summary.wins }}</td>
        <td>{{ summary.losses }}</td>
        <td>{{ summary.win_percentage|floatformat:3 }}</td>
    </tr>
    {% endfor %}
</table>
{{ player.season_summary_set }}
{% endif %}
{% endblock %}
