{% load cache %}
{% cache 86400 player_table cache_key %}
<table class="table">
  <thead>
    <tr><th>Rank</th><th></th>{% if show_teams %}<th>Team</th>{% endif %}<th>W</th><th>L</th><th>Pct</th><th>4-0</th><th>TR</th></tr>
  </thead>
  <tbody>
    {% for player_summary in players %}
    <tr>
    <td>{% if player_summary.ranking %}{{ player_summary.ranking }}{% endif %}</td>
    <td><a href="{% url 'player' player_summary.player.id %}">{{ player_summary.player }}</a></td>
    {% if show_teams %}
    <td><a href="{% url 'team' player_summary.team.id %}">{{ player_summary.team }}</a></td>
    {% endif %}
    <td>{{ player_summary.wins }}</td>
    <td>{{ player_summary.losses }}</td>
    <td>{{ player_summary.win_percentage|floatformat:3 }}</td>
    <td>{{ player_summary.four_ohs }}</td>
    <td>{{ player_summary.table_runs }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endcache %}
