{% extends "stats/base.html" %}

{% block title %}SFPA :: Score Sheet :: {{ score_sheet.match }} {% endblock %}

{% block content %}
<script>

let lineup_ids = ['away_lineup', 'away_substitutions', 'home_lineup', 'home_substitutions'];

function toggler(some_div_id) {

    lineup_ids.forEach(function(anId){
        let toggle_div = $("#" + anId);
        if (anId === some_div_id) {
            toggle_div.css("display", toggle_div.css("display") === "block" ? "none" : "block");
        } else {
            toggle_div.css("display", "none");
        }
    });

}

$(document).ready(function(){

    lineup_ids.forEach(function(toggleDiv){
        $('#toggle-' + toggleDiv).click(function(){
            toggler(toggleDiv)
        });
    });

    $( "#last-game-reset-button" ).confirm({
        text: 'remove winner of last game?',
        confirm: reset_last_game
    });

});

</script>

<h5>{{ score_sheet.match.week }}, {{ score_sheet.match.week.date }}</h5>


<p></p>

{% include 'stats/score_sheet/view.html' %}

<form action="{% url 'score_sheet' score_sheet.id %}" method="post">
    <table class="table">
    {{ score_sheet_completion_form.as_table }}
    </table>
    {% csrf_token %}
    <div class="text-center">
        <input name="complete" class="btn btn-primary" type="submit" value="Mark complete"/>
    </div>
</form>

{% endblock %}
