    <tr><th></th><th></th><th>H</th><th>A</th><th></th><th></th><th>TR?</th><th>Forfeit?</th> </tr>
    {% for game_form in games_formset %}
        {{ game_form.id }}
    <tr>
        {% if game_form.instance.home_player.id  %}
        <td align="right">
            <a href="{% url 'player' game_form.instance.home_player.id %}">
                {% if game_form.instance.order.home_breaks %}<strong>{% endif%}
                {{ game_form.instance.home_player }}
                {% if game_form.instance.order.home_breaks %}</strong>{% endif%}
            </a>
        </td>
        {% else %}
        <td align="right">--</td>
        {% endif %}
        <td align="right">{% if game_form.instance.order.home_breaks and not game_form.instance.order.tiebreaker%}<b>{% endif %}{{ game_form.instance.order.home_position}}{% if game_form.instance.order.home_breaks and not game_form.instance.order.tiebreaker %}</b>{% endif %}</td>
        {% for radio in game_form.winner %}
            <td>{{ radio.tag }}</td>
        {% endfor %}
        <td>{% if not game_form.instance.order.home_breaks and not game_form.instance.order.tiebreaker %}<b>{% endif %}{{ game_form.instance.order.away_position}}{% if not game_form.instance.order.home_breaks and not game_form.instance.order.tiebreaker %}</b>{% endif %}</td>
        {% if game_form.instance.away_player.id %}
        <td>
            <a href="{% url 'player' game_form.instance.away_player.id %}">
                {% if not game_form.instance.order.home_breaks %}<strong>{% endif%}
                {{ game_form.instance.away_player }}
                {% if game_form.instance.order.home_breaks %}</strong>{% endif%}
            </a>
        </td>
        {% else %}
        <td>--</td>
        {% endif %}
        <td>{{ game_form.table_run }}</td>
        <td>{{ game_form.forfeit }}</td>

    </tr>
    {% endfor %}
