{% extends "stats/base.html" %}

{% block title %}SFPA :: Score Sheet :: {{ score_sheet.match }} {% endblock %}

{% block content %}
<h4><a href="{% url 'team' score_sheet.match.away_team_id %}">{{ score_sheet.match.away_team }}</a>: {{ score_sheet.away_wins }} <a href="{% url 'team' score_sheet.match.home_team_id %}">{{ score_sheet.match.home_team }}</a>: {{ score_sheet.home_wins }}</h4>
<h5>{{ score_sheet.match.week }}, {{ score_sheet.match.week.date }}</h5>
<a href="#Lineups" class="btn btn-default" data-toggle="collapse">Lineups & Subs</a>
<p/>
<div id="Lineups" class="collapse">
<table class="table">
    <tr><td colspan="2"><a href="{% url 'score_sheet_lineup' score_sheet.id 'away' %}"><h4>{{ score_sheet.match.away_team }} Lineup</h4></a></td></tr>
    <tr><th>Position</th><th>Player</th></tr>
    {% for position in score_sheet.away_lineup.all %}
    <tr><td>{{ position.position.away_name }}</td><td>{{ position.player }}</td></tr>
    {% endfor %}
</table>
<h6><a href="{% url 'score_sheet_substitutions' score_sheet.id 'away' %}">Away Substitutions</a></h6>
<ol>
{% for sub in score_sheet.away_substitutions.all %}
    <li>{{ sub }}</li>
{% endfor %}
</ol>

<table class="table">
    <tr><td colspan="2"><h4><a href="{% url 'score_sheet_lineup' score_sheet.id 'home' %}">{{ score_sheet.match.home_team }} Lineup</a></h4></td></tr>
    <tr><th>Position</th><th>Player</th></tr>
    {% for position in score_sheet.home_lineup.all %}
    <tr><td>{{ position.position.home_name }}</td><td>{{ position.player }}</td></tr>
    {% endfor %}
</table>
<h6><a href="{% url 'score_sheet_substitutions' score_sheet.id 'home' %}">Home Substitutions</a></h6>
<ol>
{% for sub in score_sheet.home_substitutions.all %}
    <li>{{ sub }}</li>
{% endfor %}
</ol>
</div>
<h3>Games</h3>
<form action="{% url 'score_sheet_edit' score_sheet.id %}" method="post">
{% csrf_token %}
{{ games_formset.management_form }}
<table class="table">
{% include "stats/score_sheet_games_form.html" %}
<tr><td colspan="2"></td><td class="scoresheet-square"><b>{{ score_sheet.home_wins }}</b></td><td></td><td class="scoresheet-square"><b>{{ score_sheet.away_wins }}</b></td><td colspan="4"></td></tr>
</table>
  <div class="text-center">
    <input class="btn btn-default" type="submit" value="Save"/>
  </div>
</form>
<br/>
  <div class="text-center">
  <a class="btn btn-default" href="{% url 'score_sheet_complete' score_sheet.id %}">Review And Comment</a>
</div>
{% endblock %}
