<h6>{{ away_home|title }} Substitutions</h6>
<form action="{% url 'score_sheet_substitutions' score_sheet.id away_home %}" method="post">
    {% csrf_token %}
    {% if substitutions_formset.non_form_errors %}
    <strong>{{ substitutions_formset.non_form_errors }}</strong>
    {% endif %}
    <table class="table" style="width: auto;">
        <th>Game</th><th>Player</th><th></th>
        {{ substitutions_formset.management_form }}
        {% for substitutions_formset in substitutions_formset %}
        {{ substitutions_formset.id }}
        <tr>
            <td class="col-sm-1"><label>{{ substitutions_formset.game_order }}</label></td>
            <td class="col-sm-1">{{ substitutions_formset.player }}</td>
            <td >{{ substitutions_formset.DELETE }} Delete</td>
        </tr>
        {% endfor %}
    </table>
    <input id="{{ away_home }}_substitutions_save" class="btn btn-primary" type="submit" value="Save {{ away_home }} subs"/>
</form>
