<h6>{{ away_home|title }} Lineup</h6>
<form action="{% url 'score_sheet_lineup' score_sheet.id away_home %}" method="post">
    {% if lineup_formset.non_form_errors %}
        {{ lineup_formset.non_form_errors }}
    {% endif %}
    <table class="table" style="width: auto;">
    {% csrf_token %}
    {{ lineup_formset.management_form }}
    {% for lineup_form in lineup_formset %}
    {{ lineup_form.id }}
    <tr>
        {% if away_home == 'away' %}
        <th class="col-sm-1"><label>{{ lineup_form.instance.position.away_name }}</label></th>
        {% else %}
        <th class="col-sm-1"><label>{{ lineup_form.instance.position.home_name }}</label></th>
        {% endif %}
        <td>{{ lineup_form.player }}</td>
    </tr>
    {% endfor %}
</table>
    {% if score_sheet.match.playoff %}
    <p><strong>Note: </strong> the TB (tiebreaker) position only needs to be filled if you reach the tiebreaker game.</p>
    {{ score_sheet.away_lineup.awaylineupentry }}
    {% endif %}
<input class="btn btn-primary" type="submit" value="Save {{ away_home }} lineup" id="{{ away_home }}_lineup_save"/>
</form>
