{% extends "stats/base.html" %}

{% block title %}SFPA :: Unofficial Results :: {{ season }}{% endblock %}

{% block content %}
<h5>{{ score_sheet.match.week }}, {{ score_sheet.match.week.date }}</h5>
{% if edit_link %}
<p><a href="{% url 'score_sheet_edit' score_sheet.id%}">Edit</a></p>
{% endif %}
{% if auto_save %}
    {% include 'stats/score_sheet/view.html' %}
{% else %}
<table class="table">
    {% include 'stats/score_sheet_games_form.html' %}
</table>
<h4>{{ score_sheet.match.away_team }} Summaries</h4>
{% with player_score_sheet_summaries=away_player_score_sheet_summaries %}
{% include "stats/player_match_summary.html" %}
{% endwith %}

<h4>{{ score_sheet.match.home_team }} Summaries</h4>
{% with player_score_sheet_summaries=home_player_score_sheet_summaries %}
{% include "stats/player_match_summary.html" %}
{% endwith %}
{% endif %}
{% block completion_block %}
{% if score_sheet.comment %}
<h4>Comment</h4>
<div class="container">
    <div class="lead">
        {{ score_sheet.comment }}
    </div>
</div>
{% endif %}
{% endblock %}
{% if not edit_link %}
<div align="right">
<form
        id="score_sheet_copy_form_{{ score_sheet.id }}"
        method="post"
        action="{% url 'score_sheet_copy' %}">
    {% csrf_token %}
    <input
        type="hidden"
        value="{{ score_sheet.id }}"
        name="scoresheet_id"
    />
    <input
        id="score_sheet_copy_button_match_{{ score_sheet.id }}"
        data-text="Copy scoresheet for {{ score_sheet.match.away_team }} @ {{score_sheet.match.home_team }}?"
        class="btn btn-primary btn-sm confirm"
        type="submit"
        value="Copy"
    />
</form>
<script language="JavaScript">
    $("#score_sheet_copy_form_{{ score_sheet.id }}").confirm({
        submitForm: true,
        post: true,
        text: "Copy scoresheet for {{ score_sheet.match.away_team }} @ {{score_sheet.match.home_team }}?",
        confirm: function(button) {
            $("#score_sheet_copy_form_{{ score_sheet.id }}").submit();
        }
    });
</script>
</div>
{%  endif %}
{% endblock %}

