{% extends "stats/base.html" %}
{% block title %}SFPA :: Team :: Register {% endblock %}

{% block content %}

<h2>Register a team</h2>
<form id="team_save" action="{% url 'register'  %}" method="post">
    {% if form.non_form_errors %}
        {{ form.non_form_errors }}
    {% endif %}
    <table class="table" style="width: auto;">
    {% csrf_token %}
     <tr>
         <th>{{ form.name.label }}</th><td>{{ form.name }}</td>
     </tr>
     <tr>
         <th>{{ form.captain.label }}</th><td>{{ form.captain }}</td>
     </tr>
     <tr>
         <th>{{ form.players.label }}</th>
         <td>{{ form.players }}
             <ol id="player_names">
                 {% if form.instance.id %}
                     {% for player_name in form.instance.players.all %}
                         <li>{{ player_name }}</li>
                     {% endfor %}
                 {% endif %}
             </ol>
         </td>
     </tr>
     <tr>
         <th>{{ form.table.label }}</th><td>{{ form.table }}</td>
     </tr>
    <tr>
        <td></td><td><input class="btn btn-primary" type="submit" value="Save team" /></td>
    </tr>
    </table>
</form>

<script type="text/javascript">

    $(document).ready(function() {
        $('select').multiselect({
            enableCaseInsensitiveFiltering: true,
            numberDisplayed: 1,
            onChange: function(){
                let player_names = [];
                let el = $('#id_players');
                el.find('option:selected').each(function(){
                    player_names.push($(this).text());
                });
                let namesOL = $('#player_names');
                namesOL.empty();
                namesOL.append(
                  player_names.map(player => $("<li>").text(player)
                ));
            },

        });
    });

/*    $("#team_save").confirm({
        submitForm: true,
        post: true,
        text: "<b>Are you sure?</b><br/>",
        confirm: function(button) {
            console.log('saving');
            $("#lineup_save").submit();
        }
    }); */

</script>
{% endblock %}

