    <table class="table" id="team-standings-table{% if wrapper_division.division %}-division-{{ wrapper_division.division.id }}{% endif %}">
        <tr><th>Rank</th><th></th><th>Wins</th><th>Losses</th><th>Percent</th></tr>
        {% for team in teams %}
        <tr>
            <td>{{ team.ranking }}</td>
            <td><a href="{% url 'team' team.id %}">{{ team }}</a></td>
            <td>{{ team.wins }}</td>
            <td>{{ team.losses }}</td>
            <td>{{ team.win_percentage|floatformat:3 }}</td>
        </tr>
        {% endfor %}
    </table>
