{% extends "stats/base.html" %}
{% block title %}SFPA :: Team :: Register {% endblock %}

{% block content %}

<h2>Register a team</h2>
<form id="team_save" action="{% url 'register'  %}" method="post">
    {% if form.non_form_errors %}
        {{ form.non_form_errors }}
    {% endif %}
    <table class="table" style="width: auto;">
    {% csrf_token %}
    {{ form.as_table }}
    <tr>
        <td><input class="btn btn-primary" type="submit" value="Save team" /></td>
    </tr>
    </table>
</form>
<div>
    <h3>Current Players</h3>
    <p id="player_names">{{ form.instance.players.all|join:", " }}</p>
</div>


<script type="text/javascript">

    $(document).ready(function() {
        $('select').multiselect({
            enableCaseInsensitiveFiltering: true,
            numberDisplayed: 1,
            onChange: function(){
                let player_names = [];
                let el = $('#id_players');
                el.find('option:selected').each(function(){
                    player_names.push($(this).text());
                });
                $('#player_names').text(player_names.join(', '));
            },

        });
    });

    $("#lineup_save").confirm({
        submitForm: true,
        post: true,
        text: "<b>Are you sure?</b><br/>",
        confirm: function(button) {
            $("#lineup_save").submit();
        }
    });

</script>
{% endblock %}

