{% extends "stats/base.html" %}

{% block title %}SFPA :: {{ team.season }} :: {{ team }}{% endblock %}

{% block content %}
{% if team %}
<h1>{{ team.name }}</h1>
<h3><a href="{% url 'sponsor' team.sponsor.id %}">{{ team.sponsor }}</a></h3>

{% include "stats/player_table.html" %}
{% endif %}
<table class="table">
<tr><th style="text-align:right">Away</th><th style="text-align:center">Score</th><th>Home</th><th>Week</th></tr>
    {% for score_sheet in scoresheets %}
<tr>
    <td align="right"><a href="{% url 'team' score_sheet.match.away_team.id %}">{{ score_sheet.match.away_team }}</a></td>
    <td align="center"><a href="{% url 'score_sheet' score_sheet.id %}"><b>{{ score_sheet.away_wins }}-{{ score_sheet.home_wins }}</b></a></td>
    <td><a href="{% url 'team' score_sheet.match.home_team.id %}">{{ score_sheet.match.home_team }}</a></td>
    <td><a href="{% url 'week' score_sheet.match.week_id %}">{{ score_sheet.match.week }}</a></td>

</tr>
    {% endfor %}

</table>

{% endblock %}
