{% extends "stats/base.html" %}
{% block title %}SFPA :: Tournament :: {{ tournament }}{% endblock %}

{% block content %}

<!--
    the csrftoken is read below in javascript to satisfy django's anti-csrf implementation,
    See: https://docs.djangoproject.com/en/2.1/ref/csrf/
-->
{% csrf_token %}

    <div id="app">
{% verbatim %}
    <h1>{{ the_tournament.name }}</h1>
    <button type="button" onclick="app.updateData();">update</button>
    <h3>Participants</h3>
    <ul>
    <li v-for="participant in the_tournament.participants">
        <template v-for="(player, index) in participant.players">
            <a :href="player.url">{{ player.name }} {{ participant.id }}</a>
        </template>
    </li>
    </ul>
    <template v-if="the_tournament.elimination != 'single'">
    <div v-for="bracket in the_tournament.brackets" class="brackets">
        <h2>{{ bracket.type }} Bracket</h2>
        <div v-for="round in bracket.rounds">
            <h3>Round {{ round.number }}</h3>
            <ul>
                <li v-for="matchup in round.matchups">
                    <div>{{ bracket.type }}{{ round.number }}/m{{ matchup.number }} ({{ matchup.id }})
                        <span v-if="matchup.participant_a"></span>
                        <span v-else-if="bracket.type == 'w' && round.number == '1'">
                            Bye
                        </span>
                        <span v-else>
                            TBD
                        </span>
                        <span v-if="matchup.winner">
                        </span>
                        <span v-else>
                            <button v-on:click="submitMatchupWinner(matchup.id, matchup.participant_a.id)">winner</button>
                        </span>
                        <span v-html="renderParticipant (matchup.participant_a)"></span>
                        </span>
                          VS
                        <span v-if="matchup.participant_b"></span>
                        <span v-else-if="bracket.type == 'w' && round.number == '1'">
                            Bye
                        </span>
                        <span v-else>
                            TBD
                        </span>
                        <span v-if="matchup.winner">
                        </span>
                        <span v-else>
                            <button v-on:click="submitMatchupWinner(matchup.id, matchup.participant_b.id)">winner</button>
                        </span>
                        <span v-html="renderParticipant (matchup.participant_b)"></span>
                        </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div><!-- end v-for rounds -->
    </div>
    </template>
    <pre>{{ the_tournament }}</pre>
{% endverbatim %}
</div>
<script>

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            let cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    let csrftoken = getCookie('csrftoken');
    function checkId(participant, id) {
        return participant.id === id;
    }
    let dataUrl = '{%  url 'tournament' tournament.id %}';
    let app = new Vue({
        el: '#app',
        data: {
            the_tournament: []
        },
        methods: {
            updateData: function() {
                let self = this;
                $.ajax({
                    url: dataUrl,
                    dataType: 'json',
                    success: function(data) {
                        self.the_tournament = data;
                    },
                    headers: {
                        Accept: "application/json",
                    }
                });
            },
            renderParticipant: function(participant) {
                let playerName = 'unknown';
                if (participant !== null) {
                    playerName = participant['players'][0].name;
                }

                // console.log("filtering for participant: " + playerName);
                if (participant === null) {
                    return null;
                }

                let player_anchors = Array();
                if (participant.type === 'player') {
                    let the_participant = null;
                    this.the_tournament.participants.forEach(function(a_participant, index){
                        if (a_participant.id === participant.id) {
                            //console.log("found it");
                            the_participant = a_participant;
                        }
                    });
                    the_participant.players.forEach(function(player, index) {
                        player_anchors.push(`<a href="${player.url}">${player.name}</a> (${the_participant.id})`);
                    });
                    return player_anchors.join(', ');
                }
            },
            submitMatchupWinner: function(matchup, winner) {
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    },
                    dataType: 'application/json',
                });
                $.post("{% url 'tournament_mark_winner' %}", {"matchup": matchup, "winner": winner});
            },
        },
        mounted: function() {
            let self = this;
            $.ajax({
                url: dataUrl,
                dataType: 'json',
                success: function(data) {
                    self.the_tournament = data;
                },
                headers: {
                    Accept: "application/json",
                }
            });
        }
    })
</script>
{% endblock %}
