{% extends "stats/base.html" %}
{% block title %}SFPA :: Create Tournament {% endblock %}

{% block content %}

{%  if tournament_form.instance.id %}
    <form action="{% url 'tournament_edit' tournament_form.instance.id %}" method="post">
{% else %}
    <form action="{% url 'tournament_edit' %}" method="post">
{% endif %}
{% csrf_token %}
{{ tournament_form.management_form }}

{{ tournament_form.as_table }}

<input class="btn btn-primary" type="submit" value="Save Tournament" />
</form>

{%  if tournament_form.instance.id %}
<div class="text-left">
    <p>all set?</p>
    <p>Once you have added participants, you can't change the elimination, seeding, or participant type.</p>
</div>
    <div class="text-right">
<form id="on_to_participants" action="{% url 'tournament_participants' tournament_form.instance.id %}">
        <input class="btn btn-primary confirm" type="submit" value="Add Participants" />
    </form>
</div>
<script>
    $("#on_to_participants").confirm({
        submitForm: true,
        post: true,
        text: "<b>Are you sure?</b><br/>Once you have added participants, you can't change the elimination, seeding, or participant type.",
        confirm: function(button) {
            $("#on_to_participants").submit();
        }
    });
</script>

{% endif %}
{% endblock %}
