{% extends "stats/base.html" %}
{% block title %}SFPA :: Tournament :: {{ tournament }}{% endblock %}

{% block content %}


    <h2>{{ tournament }} participants</h2>
<form action="{% url 'tournament_participants' tournament.id %}" method="post">
    {% if participant_formset.non_form_errors %}
        {{ participant_formset.non_form_errors }}
    {% endif %}
    <table class="table" style="width: auto;">
    {% csrf_token %}
    {{ participant_formset.management_form }}
    {% for participant_form in participant_formset %}
        {{ participant_form.as_p }}
    {% endfor %}
    <tr>
        <td><input class="btn btn-primary" type="submit" value="Save participants" id="_lineup_save"/></td></tr>
</table>
</form>
    <p>Done setting up and saving participants? On to <a href="{% url 'tournament_brackets' tournament.id %}"> creating brackets.</a></p>
<script type="text/javascript">

    $(document).ready(function() {
        $('select').multiselect({enableCaseInsensitiveFiltering: true});
    });

</script>
{% endblock %}

