{% extends "stats/base.html" %}
{% block title %}SFPA :: Tournament :: {{ tournament }}{% endblock %}

{% block content %}
<div id="app">
{% verbatim %}
    <h2>{{ the_tournament.name }}</h2>
    <h3>Participants</h3>
    <ul>
    <li v-for="participant in the_tournament.participants">
        <template v-for="(player, index) in participant.players">
            <a :href="player.url">{{ player.name }}</a>
        </template>
    </li>
    </ul>
    <h3>Matches</h3>
    <ul>
        <li v-for="matchup in the_tournament.matchups">
            <div v-if="the_tournament.brackets.length > 1">bracket: {{ matchup.bracket }}</div>
            <div>r{{ matchup.round }}/m{{ matchup.match.number }}
                <span v-html="renderParticipant (matchup.match.participant_a)"></span> vs
                <span v-html="renderParticipant (matchup.match.participant_b)"></span>
            <span v-if="matchup.match.winner">winner</span>
            </div>
        </li>
    </ul>
    <pre>{{ the_tournament }}</pre>
{% endverbatim %}
</div>
<script>
    function checkId(participant, id) {
        return participant.id === id;
    }
    let dataUrl = '{%  url 'tournament' tournament.id %}';
    let app = new Vue({
        el: '#app',
        data: {
            the_tournament: []
        },
        methods: {
            renderParticipant: function(participant) {
                var playerName = 'unknown';
                if (participant !== null) {
                    playerName = participant['players'][0].name;
                }

                console.log("filtering for participant: " + playerName);
                if (participant === null) {
                    return 'TBD';
                }

                let player_anchors = Array();
                if (participant.type === 'player') {
                    let the_participant = null;
                    this.the_tournament.participants.forEach(function(a_participant, index){
                        if (a_participant.id === participant.id) {
                            console.log("found it");
                            the_participant = a_participant;
                        }
                    });
                    the_participant.players.forEach(function(player, index) {
                        player_anchors.push(`<a href="${player.url}">${player.name}</a>`);
                    });
                    return player_anchors.join(', ');
                }
            }
        },
        mounted() {
            let self = this;
            $.ajax({
                url: dataUrl,
                dataType: 'json',
                success: function(data) {
                    self.the_tournament = data;
                },
                headers: {
                    Accept: "application/json",
                }
            });
        }
    })
</script>
{% endblock %}
