{% extends "stats/base.html" %}
{% block title %}SFPA :: Tournament :: {{ tournament }}{% endblock %}

{% block content %}


    <h2>{{ tournament }} particpants</h2>
<form action="{% url 'tournament_participants' tournament.id %}" method="post">
    {% if particpant_formset.non_form_errors %}
        {{ particpant_formset.non_form_errors }}
    {% endif %}
    <table class="table" style="width: auto;">
    {% csrf_token %}
    {{ particpant_formset.management_form }}
    {% for particpant_form in particpant_formset %}
        {{ particpant_form.as_p }}
    {% endfor %}
    <tr>
        <td><input class="btn btn-primary" type="submit" value="Save participants" id="_lineup_save"/></td></tr>
</table>
</form>
<script type="text/javascript">

    $(document).ready(function() {
        $('select').multiselect({enableCaseInsensitiveFiltering: true});
    });

</script>
{% endblock %}

