{% extends "stats/base.html" %}

{% block title %}SFPA :: {{ week.season }} :: Week {{ week }}{% endblock %}

{% block content %}
{% if week %}
<h2>{{ week.name }}</h2>
<p>{{ week.date}}</p>


{% if official_matches|length %}

<table class="table" align="right">
    <tr><th style="text-align: right;">Away</th><th>Score</th><th>Home</th><th></th></tr>
{% for score_sheet in official_matches %}
    <tr>
        <td align="right"><a href="{% url 'team' score_sheet.match.away_team.id %}">{{ score_sheet.match.away_team }}</a></td>
        <td><a href="{% url 'score_sheet' score_sheet.id %}"><b>{{ score_sheet.away_wins }}-{{ score_sheet.home_wins }}</b></a></td>
        <td><a href="{% url 'team' score_sheet.match.home_team.id %}">{{ score_sheet.match.home_team }}</a></td>
        <td>{% if score_sheet.match.table %} Table: <a href="{% url 'sponsor' score_sheet.match.table.sponsor.id %}">{{ score_sheet.match.table }}{% endif %}</td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% if unofficial_matches|length %}
<h4>Unofficial Results</h4>
<table class="table">
    <tr>
        <th style="text-align: right;">Away</th><th>Home</th><th>Score Sheets</th><th></th>
    </tr>
    {% for match in unofficial_matches %}
    <tr>
        <td align="right"><a href="{% url 'team' match.away_team.id %}">{{ match.away_team }}</a></td>
        <td><a href="{% url 'team' match.home_team.id %}">{{ match.home_team }}</a></td>
        <td>
            {% for score_sheet in match.scoresheet_set.all %}
                {% if score_sheet.creator_session == request.session.uid and not score_sheet.official %}
                    <a href="{% url 'score_sheet_edit' score_sheet.id %}"> {{ score_sheet.away_wins }}-{{ score_sheet.home_wins }}</a>,
                {% else %}
                    <a href="{% url 'score_sheet' score_sheet.id %}"> {{ score_sheet.away_wins }}-{{ score_sheet.home_wins }}</a>,
                {% endif %}
            {% endfor %}
            <a href="{% url 'score_sheet_create' match.id %}" class="confirm"
                        data-text="Create new scoresheet for {{ match.away_team }} @ {{match.home_team }} on {{match.week.date}}?">New Scoresheet</a>
        </td>
        <td>{{match.table }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endif %}
    <!-- wraps the 'create scoresheet' link above in a confirmation dialog -->
    <script language="JavaScript">
      $(".confirm").confirm();
    </script>
{% endblock %}
