{% extends "stats/base.html" %}
{% block title %}SFPA :: Create Tournament {% endblock %}

{% block content %}
<div class="col-md-10 text-left">

{%  if tournament_form.instance.id %}
    <form action="{% url 'tournament_edit' tournament_form.instance.id %}" method="post">
{% else %}
    <form action="{% url 'tournament_edit' %}" method="post">
{% endif %}
{% csrf_token %}
{{ tournament_form.management_form }}

{{ tournament_form.as_table }}

<input class="btn btn-primary" type="submit" value="Save Tournament" />
</form>

{% if tournament_form.instance.id %}
    {% with tournament=tournament_form.instance setup_disabled='disabled' brackets_disabled='disabled' %}
    {% include 'stats/tournament/nav.html' %}
{% endwith %}
{% endif %}
{% endblock %}
