{% extends "stats/base.html" %}
{% block title %}SFPA :: Tournament :: {{ tournament }}{% endblock %}

{% block content %}


    <h2>{{ tournament }} participants</h2>
<form action="{% url 'tournament_participants' tournament.id %}" method="post">
    {% if participant_formset.non_form_errors %}
        {{ participant_formset.non_form_errors }}
    {% endif %}
    <table class="table" style="width: auto;">
    {% csrf_token %}
    {{ participant_formset.management_form }}
    {% for participant_form in participant_formset %}
        {{ participant_form.as_p }}
    {% endfor %}
    <tr>
        <td><input class="btn btn-primary" type="submit" value="Save participants" id="_lineup_save"/></td></tr>
</table>
</form>
<div>
    <p>bracket size: {{ tournament.bracket_size }}</p>
<p>participants: {{ tournament.participant_set.all|length }}</p>

</div>
{% with participants_disabled='disabled' %}
    {% include 'stats/tournament/nav.html' %}
{% endwith %}
<script type="text/javascript">

    $(document).ready(function() {
        $('select').multiselect({enableCaseInsensitiveFiltering: true});
    });

    $("#create_brackets").confirm({
        submitForm: true,
        post: true,
        text: "<b>Are you sure?</b><br/>Once you have created brackets, you can't change the elimination, seeding, or participant type.",
        confirm: function(button) {
            $("#create_brackets").submit();
        }
    });

</script>
{% endblock %}

