{% extends "stats/base.html" %}
{% block title %}SFPA :: Tournament :: {{ tournament }}{% endblock %}

{% block content %}

<!--
    the csrftoken is read below in javascript to satisfy django's anti-csrf implementation,
    See: https://docs.djangoproject.com/en/2.1/ref/csrf/
-->
{% csrf_token %}
<h1>{{ tournament.name }}</h1>

<div id="app">
{% verbatim %}
    <div>
        <button class="btn btn-primary btn-sm" type="button" onclick="app.updateData(); getData();">update</button>
    </div>
    <h3><a href="#participants" data-toggle="collapse">Participants</a></h3>
    <div id="participants" class="">
        <ul class="list-unstyled">
        <li v-for="participant in the_tournament.participants" class="col-xs-3" style="padding: 2px;">
            <div class="matchup-wrapper">
                <div class="matchup-participant">
                    <div class="matchup-participant-common matchup-participant-seed" v-html="participant.seed"></div>
                    <div :class="participantNameClasses(participant)" v-html="participantLinks(participant)"></div>
                    <div class="matchup-participant-common matchup-participant-place"
                         v-if="participant.place && participant.place <= the_tournament.show_places" v-html="participant.place"></div>
                </div>
            </div>
        </li>
        </ul>
    </div>
    <div v-for="bracket in the_tournament.brackets" class="brackets">
        <h3 style="clear: left;"><a :href="'#match-list-' + bracket.type" data-toggle="collapse"><span v-if="the_tournament.brackets.length > 1">{{ bracketLabels[bracket.type] }}</span> Match List</a></h3>
        <div :id="'match-list-' + bracket.type" class="collapse">
        <button :data-bracket-type="bracket.type"  class="btn btn-primary btn-sm confirm close-byes" type="button">Close byes</button>
        <div v-for="round in bracket.rounds">
            <h4>Round {{ round.number }}</h4>
            <ul>
                <li v-for="matchup in round.matchups">
                    <div>
                        <span v-for="(participant, index) in getMatchupParticipants (matchup)">
                            <span v-if="participant">
                                <span v-if="matchup.winner"
                                        v-bind:style="boldWinner(matchup, participant)"
                                        v-html="participantLinks(participant)">
                                </span>
                                <span v-else-if="matchup.participant_a && matchup.participant_b || (participant && ( matchup.bye_winner == participant.id))">
                                    <span v-if="the_tournament.editable">
                                        <input
                                                type="submit"
                                                :id="matchupButtonId (matchup, participant)"
                                                class="btn btn-primary btn-sm confirm"
                                                :value="participantText(participant)"
                                                :disabled="! matchup.is_necessary"
                                        >
                                    </span>
                                    <span v-else="" v-html="participantLinks(participant)">

                                    </span>
                                </span>
                                <span v-else="">
                                    <span v-html="participantLinks(participant)"></span>
                                </span>
                            </span>
                            <span v-else="" >
                                {{ matchup.bye_winner }}
                                <span v-if="matchup.bye_winner > 0">
                                    Bye
                                </span>
                                <span v-else="">
                                    TBD
                                </span>
                            </span>
                            <span v-if="index === 0">
                                -VS-
                            </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div><!-- end v-for rounds -->
    </div>
    </div>
{% endverbatim %}

    <h3><a href="#bracket-wrapper" style="clear: left;" data-toggle="collapse">Bracket</a></h3>

    <div id="bracket-wrapper">
    <div id="bracket-controls">
    {% if tournament.elimination == 'double' %}
        <input type="button" class="btn btn-sm" value="combined"
               onclick="scaleElem('bracket-border', 'full'); getData();"/>
        <input type="button" class="btn btn-sm" value="1-loss"
               onclick="scaleElem('bracket-border', 'full'); getData(bracket='l', true);"/>
        <input type="button" class="btn btn-sm" value="0-loss"
               onclick="scaleElem('bracket-border', 'full'); getData(bracket='w', true);"/>
    {% endif %}
        <input type="button" class="btn btn-sm" value="scale to width"
               onclick="scaleElem('bracket-border', 'window');"/>
        <input type="button" class="btn btn-sm" value="scale 100%"
               onclick="scaleElem('bracket-border', 'full');"/>
    </div>
    <div id="bracket-border">
        <svg id="bracketSvg" ></svg>
    </div>
    <div>
    <h4>Legend</h4>
        <div class="matchup-wrapper matchup-wrapper-w" style="float: left; width: fit-content; margin-right: 4px;">
            <div class="matchup-participant">
                <div class="matchup-participant-common matchup-participant-seed">Seed</div>
                <div class="matchup-participant-common matchup-participant-names">Losing Team</div>
                <div class="matchup-participant-common matchup-participant-place">Place</div>
            </div>
            <div class="matchup-participant">
                <div class="matchup-participant-common matchup-participant-seed">Seed</div>
                <div class="matchup-participant-common matchup-participant-names matchup-participant-winner">Winning Team</div>
            </div>
        </div>
            <div  v-if="the_tournament.brackets.length > 1" class="matchup-wrapper matchup-wrapper-w .legend" style="float: left; width: fit-content; margin-right: 4px;">
                <div class="matchup-participant">
                    <div class="matchup-participant-common matchup-participant-names">0-loss bracket</div>
                </div>
            </div>
            <div  v-if="the_tournament.brackets.length > 1" class="matchup-wrapper matchup-wrapper-l" style="float: left; width: fit-content; margin-right: 4px;">
                <div class="matchup-participant">
                    <div class="matchup-participant-common matchup-participant-names">1-loss bracket</div>
                </div>
            </div>
            <div  v-if="the_tournament.brackets.length > 1" class="matchup-wrapper matchup-wrapper-l if_necessary" style="float: left; width: fit-content; margin-right: 4px;">
                <div class="matchup-participant">
                    <div class="matchup-participant-common matchup-participant-names">If necessary</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
let svg = $("#bracketSvg");

function getDefaultBracketDivSize() {
    let sizes = {};
    let heightMultiple = {{ tournament.flopped|yesno:"1.25,1.0,1.0" }};
    let bracketSize = {{ tournament.bracket_size }};
    sizes.height = heightMultiple * bracketSize * 60 + 100;
    sizes.width = bracketSize * 180 + 100;
    return sizes;
}

// console.log('height: ' + getDefaultBracketDivSize().height);
// console.log('width: ' + getDefaultBracketDivSize().width);

svg.width(getDefaultBracketDivSize().width);
svg.height(getDefaultBracketDivSize().height);

let bracketBorder = $("#bracket-border");
// bracketBorder.width(getDefaultBracketDivSize().width);

function getSvgSize(svgId) {
    // first, jquery-select the SVG element by ID
    let theDiv = $('#'+ svgId);
    let svgGID = svgId + '-g';
    // then jquery-select the g.output child element
    let theG = theDiv.find('g.output');
    // now assign an ID to it ...
    theG.attr('id', svgGID);
    // so you can re-find it with getElementById
    let svgRealG = document.getElementById(svgGID);
    // that is the thing you want the bounding rect of
    return svgRealG.getBoundingClientRect();
}

function setInitialSvgSizes() {

}

function scaleElem(divId, to='full') {
    // console.log('scaling ' + divId + " to " + to);
    let theDiv = $('#'+ divId);
    let contentDiv = $('#content');

    // We can't use the jquery selector, jquery objects don't have getBoundingClientRect().
    let theDivById = document.getElementById(divId);
    let beforeScalingBoundingBox = theDivById.getBoundingClientRect();
    /*
    console.log(`before: T: ${beforeScalingBoundingBox.top} B: ${beforeScalingBoundingBox.bottom}`);
    console.log(`before: L: ${beforeScalingBoundingBox.left} R: ${beforeScalingBoundingBox.right}`);
    console.log(`before: W: ${beforeScalingBoundingBox.width} H: ${beforeScalingBoundingBox.height}`);
    console.log(`before: x: ${beforeScalingBoundingBox.x} y: ${beforeScalingBoundingBox.y}`);
    */

    let ratio = 1.0;
    switch(to) {
      case 'full':
        ratio = 1;
        break;
      case 'window':
        // ratio = 0.4;
        ratio = (contentDiv.width() / theDiv.width());
        // console.log(`content div width: ${contentDiv.width()} svg width: ${theDiv.width()} ratio: ${ratio}`);
        break;
      default:
        ratio = 1;
    }

    // console.log('scaling ratio: ' + ratio);

    /*
      Scaling is relative to the _center_ of the scaled element, so we need to move the element half the amount it is scaled.
      And ORDER MATTERS and it is right to left. See:
      https://stackoverflow.com/questions/27635272/css3-transform-order-matters-rightmost-operation-first
    */

    let xTranslateArg = -0.5 * (1 - ratio) * (beforeScalingBoundingBox.width);
    let yTranslateArg = -0.5 * (1 - ratio) * (beforeScalingBoundingBox.height);
    let transformString = `translateX(${xTranslateArg}px) translateY(${yTranslateArg}px) scale(${ratio})`;

    // console.log('transform css: ' + transformString);
    theDiv.css('transform', transformString);
}


function matchupHtml(matchup, bracket='w', winner=null) {

  let matchupDiv = document.createElement("div");
  let matchupClasses = ['matchup-wrapper', 'matchup-wrapper-' + bracket]
  if (!matchup.is_necessary) {
      matchupClasses.push('if_necessary');
  }
  matchupDiv.setAttribute('class', matchupClasses.join(' '));

/*
  let matchNumberDiv = document.createElement("div");
  matchNumberDiv.setAttribute('class', 'matchup-participant-common');
  matchNumberDiv.innerHTML = '<b>' + m.name + '</b>';
  matchupDiv.append(matchNumberDiv);
*/

  ['a', 'b'].forEach(function(letter){
    let participantDiv = document.createElement('div');
    let participantDivClasses = ['matchup-participant'];
    participantDiv.setAttribute('class', participantDivClasses.join(' '));

    let seedDiv = document.createElement('div');
    seedDiv.setAttribute('class', 'matchup-participant-common matchup-participant-seed');
    // console.log("trying to set seed text for " + m.name + " participant " + letter); // + " seed: " + m['participant_' + letter].seed);
    let innerText = '-';
    if (matchup['participant_' + letter] !== null) {
        innerText = matchup['participant_' + letter].seed ? matchup['participant_' + letter].seed : '-' ;
    }
    seedDiv.innerText = innerText;
    participantDiv.appendChild(seedDiv);

    let namesDiv = document.createElement('div');
    let names_div_classes = ['matchup-participant-common', 'matchup-participant-names'];
    if (matchup['participant_' + letter]) {
        names_div_classes.push('matchup-participant-id-' + matchup['participant_' + letter].id);
        if (matchup.winner && matchup['participant_' + letter].id === matchup.winner.id) {
            names_div_classes.push('matchup-participant-winner');
        }
    }
    // console.log('classes are: ' + names_div_classes);
    namesDiv.setAttribute('class', names_div_classes.join(' '));

    namesDiv.innerText = getParticipantText(matchup, letter);
    participantDiv.appendChild(namesDiv);
    matchupDiv.append(participantDiv);
  });
  return matchupDiv
}

function getParticipantText(matchup, ab) {
  let participant = matchup['participant_' + ab];
  let participantGraf = document.createElement("p");
  participantGraf.setAttribute('class', 'matchup-participant');

  let participantText = '';
  if (participant == null) {
    participantText = 'TBD';
  } else {
    if (participant.type === 'team') {
      participantText = participant['team']['name'];
    }
    if (participant.type === 'player') {
        let player_names = Array();
        participant.players.forEach(function(p){
          player_names.push(p.name);
        });
        participantText = player_names.join(', ');
    }
  }
  let textNode = document.createTextNode(participantText);
  participantGraf.appendChild(textNode);
  return participantText;
}

// Create the input graph
let g = new dagreD3.graphlib.Graph({
  compound: true,
  multigraph: false,
}).setGraph({
  rankdir: "LR",
  //  ranker: 'tight-tree',
  edgesep: 20,
  nodesep: 20,
  ranksep: 20,
});


function drawNodes(data, bracketName='all', clear=false) {
    // console.log(`drawNodes called with clear: ${clear} and bracket name: ${bracketName}` );

    if (clear === true) {
        g.nodes().forEach(function(n){
            // console.log(`checking out node: ${n}`);
            if (!n.startsWith(bracketName)) {
                // console.log("removing " + n);
                g.removeNode(n);
            }
        })
    }
    // let source_match = matchups.filter(m => m.id === this_source_match)[0];
    let bracketNames = bracketName === 'all' ? ['w', 'l'] : [bracketName];
    // console.log("the bracket names are: " + bracketNames);
    data["brackets"].filter(b => bracketNames.includes(b.type)).forEach(function (br) {
        // console.log(`${br.type}`);
        br["rounds"].forEach(function (ro) {
            ro['matchups'].forEach(function (mu) {
                //console.log("bye winner: " + mu.bye_winner);
                if (mu.bye_winner === 0 || ro.number > 1 || br.type === "l") {
                    g.setNode(mu.name, {
                        // if you are tempted to set the width here, maybe don't
                        labelType: "html",
                        label: matchupHtml(mu, br.type),
                        padding: 2,
                    });
                }
            })
        });
    });
}


function getData(bracket='all', clear=false) {

    // console.log("getData called");
    let tournamentJson = "{% url 'tournament_json' tournament.id %}?svg";
    let matchups = [];
    d3.json(tournamentJson, [['Content-Type', 'application/json']]).then(function(data) {
        if (clear) {
            $("#bracketSvg").find('svg').find('g').remove();
        }
        console.time('drawNodes');
        drawNodes(data, bracket, clear);
        console.timeEnd('drawNodes');

        // the list of matchups has to be complete before drawing any matches, since the source
        // match name is used to display each match.
        let bracketNames = bracket === 'all' ? ['w', 'l'] : [bracket];
        data["brackets"].filter(b => bracketNames.includes(b.type)).forEach(function (br) {
            br["rounds"].forEach(function (ro) {
                ro['matchups'].forEach(function (mu) {
                    mu.bracket = br;
                    mu.round = ro;
                    matchups.push(mu);
                })
            });
        });
        drawEdges(matchups, bracket);
        console.time('renderDiag');
        renderDiag();
        //let boundingBox = $('#bracketSvg').find('g.output').getBoundingClientRect();
        //console.log(`the bounding box is ${boundingBox.width} by ${boundingBox.height}`);
        console.timeEnd('renderDiag');
        setMouseOvers(data);
        let svgBoundingBox = getSvgSize('bracketSvg');
        $('#bracketSvg').height(svgBoundingBox.height).width(svgBoundingBox.width);
        $('#bracket-border').height(svgBoundingBox.height).width(svgBoundingBox.width);
    });
}

function setMouseOvers(data) {

    data['participants'].forEach(function(p){
        let participantClass = '.matchup-participant-id-' + p.id;
        // console.log("setting mouseovers for " + participantClass);
        let theseDivs = $(participantClass);
        // console.log('these divs:' + theseDivs);
        theseDivs.each(function(index){
            // console.log("this is " + $(this));
            $(this).mouseover(function(){
                $(participantClass).addClass('hover');
            });
            $(this).mouseout(function(){
                $(participantClass).removeClass('hover');
            });
        });
    });
}

function drawEdges(matchups){
    // console.log("drawEdges called");
    // then join the matchups with edges -- you have to do this second so you don't try
    // to join to a matchup that doesn't exist yet.
    matchups.forEach(function(matchup) {
        ['a', 'b'].forEach(function(letter){
            let this_source_match = matchup['source_match_' + letter];
            if (Number.isInteger(this_source_match)) {
                let source_match = matchups.filter(m => m.id === this_source_match)[0];
                //console.log("source match: " + source_match.name + " and this match: " + matchup.name);
                if (source_match && (!source_match.bye_winner || (source_match.name && source_match.name.match(/^l/)))) {
                    let edgeMinLength = 1;
                    let edgeWeight = 5;
                    if (source_match.name.match(/^w/) && matchup.name.match(/^w/)) {
                        edgeMinLength = 2;
                        edgeWeight = 4;
                    }
                    if (source_match.name.match(/^w/) && matchup.name.match(/^l/)) {
                        edgeWeight = 2;
                    }

                    g.setEdge(source_match.name, matchup.name, {
                        curve: d3.curveBasis,
                        lineInterpolate: 'basis',
                        minlen: edgeMinLength,
                        weight: edgeWeight,
                        // label: "my weight is: " + edgeWeight,
                        class: "bracket-" + (matchup[letter + "_want_winner"] ? "w" : "l"),
                        arrowheadClass: "arrowhead-" + (matchup[letter + "_want_winner"] ? "w" : "l"),
                    });
                }
                    // console.log("we set an edge from source match: " + source_match.name + " to this match: " + matchup.name);
            }
            // console.log("the non-integer source_match is: " + this_source_match)
        });
    });
}


function renderDiag() {
    // console.log("renderDiag called");
    // Create the renderer
    let render = new dagreD3.render();

    // Set up an SVG group so that we can translate the final graph.
    let svg = d3.select("#bracketSvg");

    // Run the renderer. This is what draws the final graph.
    render(svg, g);

}

$(document).ready(function () {
    // console.log("the document is ready");
    getData('all');
});

    </script>

    <script>

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            let cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    let csrftoken = getCookie('csrftoken');
    function checkId(participant, id) {
        return participant.id === id;
    }
    let dataUrl = '{%  url 'tournament' tournament.id %}';
    let app = new Vue({
        el: '#app',
        data: {
            the_tournament: [],
            bracketLabels: {
                l: 'One-loss',
                w: 'No-loss',
            },

        },
        methods: {
            matchupButtonId: function(matchup, participant) {
                return("matchup_button_" + matchup.id + '_' + participant.id);
            },
            bracketMatchupListId: function(bracket_type) {
                return("bracket-match-list-" + bracket_type);
            },
            setConfirmDialogs: function() {
                let self = this;
                // console.log(self.the_tournament);
                if (self.the_tournament.editable === false) {
                    return true;
                }
                // console.log("editable: " + self.the_tournament.editable);
                self.the_tournament.brackets.forEach(function(bracket, index){
                    // console.log("looking at bracket " + bracket.type);
                    bracket.rounds.forEach(function(round, index){
                        // console.log("looking at round " + round.number  );
                        round.matchups.forEach(function(matchup, index){
                            if (matchup.participant_a && matchup.participant_b) {
                                [matchup.participant_a, matchup.participant_b].forEach(function(participant, index) {
                                    // console.log("we need a confirm dialog for matchup " + matchup.id + " with dom id " + self.matchupButtonId(matchup, participant));
                                    $('#' + self.matchupButtonId(matchup, participant)).confirm({
                                        title: self.participantText(matchup.participant_a) + " vs " + self.participantText(matchup.participant_b),
                                        text: '<b>' + self.participantText(participant) + "</b> is the winner",
                                        confirm: function() {
                                            self.submitMatchupWinner(matchup, participant);
                                        },
                                    });
                                });
                            } else if (matchup.bye_winner) {
                                let participant = matchup.participant_a;
                                if (matchup.participant_b) {
                                    participant = matchup.participant_b;
                                }
                                // console.log('bye participant:' + participant);
                                // console.log("we need a bye close dialog for matchup " + matchup.id + " with dom id " + self.matchupButtonId(matchup, participant));
                                $('#' + self.matchupButtonId(matchup, participant)).confirm({
                                    title: 'Close Bye',
                                    text: '<b>' + self.participantText(participant) + "</b> gets a bye",
                                    confirm: function() {
                                        self.submitMatchupWinner(matchup, participant);
                                    },
                                });
                            }
                        });
                    });
                });
                // now a confirm button for the "close dialogs" buttons
                $('.close-byes').each(function(){
                    let bracket = $(this).data('bracket-type');
                    // console.log('setting a confirm for closing ' + bracket + ' byes.');
                    $(this).confirm({
                        title: "confirm closing byes",
                        text: 'Mark <b>all byes</b> with winners?',
                        confirm: function () {
                            self.closeByes(bracket);
                        },
                    });
                });
            },
            getMatchupParticipants: function(matchup) {
                return([matchup['participant_a'], matchup['participant_b']]);
            },
            updateData: function() {
                let self = this;
                $.ajax({
                    url: dataUrl,
                    dataType: 'json',
                    success: function(data) {
                        self.the_tournament = data;
                    },
                    headers: {
                        Accept: "application/json",
                    }
                });
            },
            boldWinner: function(matchup, participant) {
                if ((matchup && participant) && matchup.winner && (matchup.winner.id === participant.id)) {
                    return {
                        'font-weight': 'bold'
                    };
                } else {
                    return {};
                }
            },
            participantNameClasses: function(participant) {
                return(['matchup-participant-common', 'matchup-participant-names', 'matchup-participant-id-' + participant.id])
            },
            participantLinks: function(participant) {
                if (participant === null) {
                    return null;
                }
                if (participant.type === 'team') {
                    return('<a href="' + participant['team']['url'] + '">' + participant['team']['name'] + '</a>');
                }
                if (participant.type === 'player') {
                    let player_anchors = Array();

                    let the_participant = null;
                    this.the_tournament.participants.forEach(function(a_participant, index){
                        if (a_participant.id === participant.id) {
                            the_participant = a_participant;
                        }
                    });
                    the_participant.players.forEach(function(player, index) {
                        player_anchors.push(`<a href="${player.url}">${player.name}</a>`);
                    });
                    return player_anchors.join(', ');
                }
            },
            participantText: function(participant) {
                if (participant === null) {
                    return null;
                }
                if (participant.type === 'team') {
                    return (participant['team']['name']);
                }
                if (participant.type === 'player') {
                    let player_names = Array();

                    let the_participant = null;
                    this.the_tournament.participants.forEach(function(a_participant, index){
                        if (a_participant.id === participant.id) {
                            the_participant = a_participant;
                        }
                    });
                    the_participant.players.forEach(function(player, index) {
                        player_names.push(player.name);
                    });
                    return player_names.join(', ');
                }
            },
            closeByes: function(bracketType) {
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    },
                    dataType: 'application/json',
                });
                // console.log('closing byes in bracket ' + bracketType);
                $.post("{% url 'tournament_controls' tournament.id %}", {
                    'bracket_type': bracketType,
                    'action': 'close_byes',
                });
                this.updateData();
            },
            submitMatchupWinner: function(matchup, winner) {
            //    console.log("we are about to set the winner of matchup " + matchup.id + " to " + winner.id);
            //    let the_id = this.matchupButtonId(matchup, winner);
            //    console.log("the id is: " + the_id);
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    },
                    dataType: 'application/json',
                });
                $.post("{% url 'tournament_mark_winner' %}", {"matchup": matchup.id, "winner": winner.id});
                this.updateData();
            },
        },
        mounted: function() {
            let self = this;
            $.ajax({
                url: dataUrl,
                dataType: 'json',
                success: function(data) {
                    self.the_tournament = data;
                },
                headers: {
                    Accept: "application/json",
                }
            });
        },
        updated: function () {
            this.setConfirmDialogs();
        },

    });

    function toggler(some_div_id) {
        let this_div = $('#' + some_div_id);
        let current_display = this_div.css("display");
        this_div.css("display", current_display === "block" ? "none" : "block");
    }

</script>
{% endblock %}
