{% extends "stats/base.html" %}
{% block title %}SFPA :: Tournament :: {{ tournament }}{% endblock %}

{% block content %}

<!--
    the csrftoken is read below in javascript to satisfy django's anti-csrf implementation,
    See: https://docs.djangoproject.com/en/2.1/ref/csrf/
-->
{% csrf_token %}
<h1>{{ the_tournament.name }}</h1>

<div id="app">
{% verbatim %}
    <button type="button" onclick="app.updateData();">update</button>
    <h3>Participants</h3>
    <ul>
    <li v-for="participant in the_tournament.participants">
        <span v-html="participantLinks(participant)"></span> ({{ participant.seed }})
    </li>
    </ul>
    <div v-for="bracket in the_tournament.brackets" class="brackets">
        <template v-if="the_tournament.elimination != 'single'">
            <h2>{{ bracket.type }} Bracket</h2>
        </template>
        <div v-for="round in bracket.rounds">
            <h3>Round {{ round.number }}</h3>
            <ul>
                <li v-for="matchup in round.matchups">
                    <div>{{ matchup.name }}: {{ matchup.id }}
                        <span v-for="(participant, index) in getMatchupParticipants (matchup)">
                            <span v-if="participant">
                                <span v-if="matchup.winner"
                                        v-bind:style="boldWinner(matchup, participant)"
                                        v-html="participantLinks(participant)">
                                </span>
                                <span v-else-if="matchup.participant_a && matchup.participant_b || (participant && ( matchup.bye_winner == participant.id))">
                                    <span v-if="the_tournament.editable">
                                        <input
                                                type="submit"
                                                :id="matchupButtonId (matchup, participant)"
                                                class="btn btn-primary btn-sm confirm"
                                                :value="participantText(participant)"
                                                :disabled="! matchup.is_necessary"
                                        >
                                    </span>
                                    <span v-else="" v-html="participantLinks(participant)">

                                    </span>
                                </span>
                                <span v-else="">
                                    <span v-html="participantLinks(participant)"></span>
                                </span>
                            </span>
                            <span v-else="" >
                                {{ matchup.bye_winner }}
                                <span v-if="matchup.bye_winner > 0">
                                    Bye
                                </span>
                                <span v-else="">
                                    TBD
                                </span>
                            </span>
                            <span v-if="index === 0">
                                -VS-
                            </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div><!-- end v-for rounds -->
    </div>
{% endverbatim %}
</div>

<div id="bracket"  role="tabpanel" class="tab-pane" >
    <svg id="svg" width="2400" height="1200"></svg>
</div>

<script>
function matchupHtml(m, r, b) {
  var matchupDiv = document.createElement("div");
  matchupDiv.style.width = "100%";
  matchupDiv.setAttribute('class', "matchup matchup-" + b.type);

  ['a', 'b'].forEach(function(letter){
    participantDiv = document.createElement("div");
    participantDiv.style.width = "120px";
    participantDiv.appendChild(getParticipantText(m, letter));
    participantDiv.setAttribute('class', 'matchup-participant');
    matchupDiv.append(participantDiv);
  });
  return matchupDiv
}

function getParticipantText(matchup, ab) {
  participant = matchup['participant_' + ab];
  var participantGraf = document.createElement("p");
  participantGraf.setAttribute('class', 'matchup-participant');

  var participantText = '';
  if (participant == null) {
    participantText = 'TBD';
  } else {
    if (participant.type === 'team') {
      participantText = participant.seed + ' - ' + participant['team']['name'];
    }
    if (participant.type === 'player') {
        let player_names = Array();
        participant.players.forEach(function(p){
          player_names.push(p.name);
        });
        participantText = player_names.join(', ');
    }
  }
  var textNode = document.createTextNode(participantText);
  participantGraf.appendChild(textNode);
  return participantGraf;
}


var nodeWidth = 95;

// Create the input graph
var g = new dagreD3.graphlib.Graph({
  compound: true,
  multigraph: false,
}).setGraph({
  rankdir: "LR",
  edgesep: 5,
  nodesep: 8,
});




matchups = [];
var tournamentJson = "{% url 'tournament_json' tournament.id %}";
d3.json(tournamentJson, [['Content-Type', 'application/json']]).then(function(data) {

  data["brackets"].forEach(function(br){
    br["rounds"].forEach(function(ro){
      ro['matchups'].forEach(function(mu){
        var node_id = mu.name;
        matchups.push(mu);
        var this_matchup_label = mu.name;
        g.setNode(node_id, {
          // if you are tempted to set the width here, maybe don't
          labelType: "html",
          label: matchupHtml(mu, ro, br),
          class: 'bracket-' + br.type,
        });
      })
    });
  });


// then join the matchups with edges -- you have to do this second so you don't try
// to join to a matchup that doesn't exist yet.
  matchups.forEach(function(matchup) {
    ['a', 'b'].forEach(function(letter){
      this_source_match = matchup['source_match_' + letter];
      if ( Number.isInteger(this_source_match) ) {
        var source_match = matchups.filter(m => m.id === this_source_match)[0];
        // console.log("for match " + matchup.name + "_parent, we want to join it to a parent from the source match: " + source_match.name + '_parent');
        g.setEdge(source_match.name, matchup.name, {
          curve: d3.curveBasis,
          class: "bracket-" + (matchup[letter + "_want_winner"] ? "w" : "l"),
          arrowheadClass: "arrowhead-" + (matchup[letter + "_want_winner"] ? "w" : "l"),
        });
      }
      // console.log("the non-integer source_match is: " + this_source_match)
    });
  });

  // Create the renderer
  var render = new dagreD3.render();

  // Set up an SVG group so that we can translate the final graph.
  var svg = d3.select("svg");
  var inner = svg.append("g");

  // Run the renderer. This is what draws the final graph.
  render(inner, g);

/*
  // "centering" the graph seems to not be an improvent, so commented for now.
  var xCenterOffset = (svg.attr("width") - g.graph().width) / 2;
  inner.attr("transform", "translate(" + xCenterOffset + ", 200)");
  svg.attr("height", g.graph().height + 400);
*/

});


    </script>
    <script>

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            let cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    let csrftoken = getCookie('csrftoken');
    function checkId(participant, id) {
        return participant.id === id;
    }
    let dataUrl = '{%  url 'tournament' tournament.id %}';
    let app = new Vue({
        el: '#app',
        data: {
            the_tournament: []
        },
        methods: {
            matchupButtonId: function(matchup, participant) {
                return("matchup_button_" + matchup.id + '_' + participant.id);
            },
            setConfirmDialogs: function() {
                let self = this;
                {#console.log(self.the_tournament);#}
                if (self.the_tournament.editable === false) {
                    return true;
                }
                {#console.log("editable: " + self.the_tournament.editable);#}
                self.the_tournament.brackets.forEach(function(bracket, index){
                    {#console.log("looking at bracket " + bracket.type);#}
                    bracket.rounds.forEach(function(round, index){
                        {#console.log("looking at round " + round.number  );#}
                        round.matchups.forEach(function(matchup, index){
                            if (matchup.participant_a && matchup.participant_b) {
                                [matchup.participant_a, matchup.participant_b].forEach(function(participant, index) {
                                    {#console.log("we need a confirm dialog for matchup " + matchup.id + " with dom id " + self.matchupButtonId(matchup, participant));#}
                                    $('#' + self.matchupButtonId(matchup, participant)).confirm({
                                        title: self.participantText(matchup.participant_a) + " vs " + self.participantText(matchup.participant_b),
                                        text: '<b>' + self.participantText(participant) + "</b> is the winner",
                                        confirm: function() {
                                            self.submitMatchupWinner(matchup, participant);
                                        },
                                    });
                                });
                            } else if (matchup.bye_winner) {
                                let participant = matchup.participant_a;
                                if (matchup.participant_b) {
                                    participant = matchup.participant_b;
                                }
                                {#console.log('bye participant:' + participant);#}
                                {#console.log("we need a bye close dialog for matchup " + matchup.id + " with dom id " + self.matchupButtonId(matchup, participant));#}
                                $('#' + self.matchupButtonId(matchup, participant)).confirm({
                                    title: 'Close Bye',
                                    text: '<b>' + self.participantText(participant) + "</b> gets a bye",
                                    confirm: function() {
                                        self.submitMatchupWinner(matchup, participant);
                                    },
                                });
                            }
                        });
                    });
                });
            },
            getMatchupParticipants: function(matchup) {
                return([matchup['participant_a'], matchup['participant_b']]);
            },
            updateData: function() {
                let self = this;
                $.ajax({
                    url: dataUrl,
                    dataType: 'json',
                    success: function(data) {
                        self.the_tournament = data;
                    },
                    headers: {
                        Accept: "application/json",
                    }
                });
            },
            boldWinner: function(matchup, participant) {
                if ((matchup && participant) && matchup.winner && (matchup.winner.id === participant.id)) {
                    return {
                        'font-weight': 'bold'
                    };
                } else {
                    return {};
                }
            },
            participantLinks: function(participant) {
                if (participant === null) {
                    return null;
                }
                if (participant.type === 'team') {
                    return('<a href="' + participant['team']['url'] + '">' + participant['team']['name'] + '</a>');
                }
                if (participant.type === 'player') {
                    let player_anchors = Array();

                    let the_participant = null;
                    this.the_tournament.participants.forEach(function(a_participant, index){
                        if (a_participant.id === participant.id) {
                            the_participant = a_participant;
                        }
                    });
                    the_participant.players.forEach(function(player, index) {
                        player_anchors.push(`<a href="${player.url}">${player.name}</a>`);
                    });
                    return player_anchors.join(', ');
                }
            },
            participantText: function(participant) {
                if (participant === null) {
                    return null;
                }
                if (participant.type === 'team') {
                    return (participant['team']['name']);
                }
                if (participant.type === 'player') {
                    let player_names = Array();

                    let the_participant = null;
                    this.the_tournament.participants.forEach(function(a_participant, index){
                        if (a_participant.id === participant.id) {
                            the_participant = a_participant;
                        }
                    });
                    the_participant.players.forEach(function(player, index) {
                        player_names.push(player.name);
                    });
                    return player_names.join(', ');
                }
            },
            submitMatchupWinner: function(matchup, winner) {
            //    console.log("we are about to set the winner of matchup " + matchup.id + " to " + winner.id);
            //    let the_id = this.matchupButtonId(matchup, winner);
            //    console.log("the id is: " + the_id);
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    },
                    dataType: 'application/json',
                });
                $.post("{% url 'tournament_mark_winner' %}", {"matchup": matchup.id, "winner": winner.id});
                this.updateData();
            },
        },
        mounted: function() {
            let self = this;
            $.ajax({
                url: dataUrl,
                dataType: 'json',
                success: function(data) {
                    self.the_tournament = data;
                },
                headers: {
                    Accept: "application/json",
                }
            });
        },
        updated: function () {
            this.setConfirmDialogs();
        },

    })
</script>
{% endblock %}
