language: python
python:
  - "3.6"
  - "3.7"
dist: bionic
sudo: required
cache: pip
services:
 - mysql
 - redis-server

before_install:
  - mysql -u root -e "CREATE USER 'pool_stats'@'localhost';"
  - mysql -u root -e "GRANT ALL ON pool_stats.* TO 'pool_stats'@'localhost';"
  - mysql -u root -e "GRANT ALL ON test_pool_stats.* TO 'pool_stats'@'localhost';"
  - sudo apt-get -qq update
  - sudo apt-get install -y firefox xvfb
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.24.0/geckodriver-v0.24.0-linux64.tar.gz
  - tar -zxvf geckodriver*
  - sudo mv geckodriver /usr/local/bin
install:
  - pip install -r dev-requirements.txt

script:
  - cd pool && DJANGO_SETTINGS_MODULE=pool.travis_settings python manage.py test stats -v 2
