language: python
python:
  - "3.6"
  - "3.7"
dist: xenial
sudo: required
cache: pip
services:
 - mysql
 - memcached
before_install:
  - mysql -u root -e "CREATE USER 'pool_stats'@'localhost';"
  - mysql -u root -e "GRANT ALL ON pool_stats.* TO 'pool_stats'@'localhost';"
  - mysql -u root -e "GRANT ALL ON test_pool_stats.* TO 'pool_stats'@'localhost';"
  - sudo apt-get -qq update
  - sudo apt-get install -y firefox
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.19.1/geckodriver-v0.19.1-linux64.tar.gz
  - tar -zxvf geckodriver*
  - sudo mv geckodriver /usr/local/bin
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
install:
  - pip install -r dev-requirements.txt

script:
  - cd pool && DJANGO_SETTINGS_MODULE=pool.travis_settings python manage.py test stats -v 2
