language: python
python:
  - "3.6"
cache: pip
services:
 - mysql
 - memcached
before_install:
  - mysql -u root -e "CREATE USER 'pool_stats'@'localhost';"
  - mysql -u root -e "GRANT ALL ON pool_stats.* TO 'pool_stats'@'localhost';"
  - mysql -u root -e "GRANT ALL ON test_pool_stats.* TO 'pool_stats'@'localhost';"
  - sudo apt-get -qq update
  - sudo apt-get install -y firefox
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.24.0/geckodriver-v0.24.0-linux64.tar.gz
  - tar -zxvf geckodriver*
  - sudo mv geckodriver /usr/local/bin
install:
  - pip install -r dev-requirements.txt

script:
  - cd pool && xvfb-run --server-args="-screen 0 1280x1024x24" python manage.py test stats.tests.test_selenium.BaseViewRedirectTestCase.test_default_view_redirect -v 2
