Django==3.2.12
django-redis==4.12.1

# mysql client on OS X needs an install from source with:
# CFLAGS = -isysroot /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform
mysqlclient==2.0.3
redis==3.5.3
trueskill==0.4.5
uWSGI==2.0.19.1

# indirect dependencies
asgiref==3.3.4
asn1crypto==1.4.0
cryptography==3.4.7
docopt==0.6.2
flake8==3.9.2
idna==3.1
importlib-metadata==4.3.1
keyring==23.0.1
keyrings.alt==4.0.2
mccabe==0.6.1
mock==4.0.3
pbr==5.6.0
pycodestyle==2.7.0
pycrypto==2.6.1
pyxdg==0.27 # for some reason, needs to match what is in ubuntu:bionic
pyflakes==2.3.1
# pygobject==3.26.1 # this is what we get from ubunt:bionic
pytz==2021.1
SecretStorage==3.3.1
setuptools-rust==0.12.1
six==1.16.0
str2bool==1.1
sqlparse==0.4.2
typing-extensions==3.10.0.0
urllib3==1.26.5
xvfbwrapper==0.2.9
zipp==3.4.1
