@import url('https://fonts.googleapis.com/css?family=Rubik');

/*
   "sfpa" blue: #5C7EBB
   "sfpa" orange: #E39230
*/

h1, h2, h3, h4, h5, h6, th, .dropdown {
  font-family: 'Rubik', sans-serif;
    color: #5C7EBB;
}

h5, h6 {
    color: #E39230;
}

a {
    text-decoration: none;
}

a:link {
	color: #6363A0;
}

a:visited{
    color: #B444B4;
}

a:active	{
    color: #DA4A33;
}

a:hover	{
    color: #18529B;
}

/* in support of the bootstrap templatetag module; style the 'active' nav item. */
.active {
    text-decoration: underline;
}

.mark-nobreak-player, .mark-break-player {
    height: 30px;
}

.mark-break-player {
    font-weight: bold;
}

.mark-nobreak-position, .mark-break-position, .scoresheet-square {
    text-align: center;
    /* these !important declarations are needed to over-ride
        bootstrap rules that are more specific than this. */
    vertical-align: middle !important;
    padding: 4px !important;
}

.scoresheet-cell {
    vertical-align: middle !important;
    padding: 4px !important;
}

.scoresheet-square {
    vertical-align: middle;
    width: 26px;
}

.mark-nobreak-position, .mark-break-position {
    font-weight: bold;
    width: 28px;
    height: 28px;
}

.mark-break-position {
    background-color: #444444;
    color: #FFFFFF;
}

.scoresheet-divider {
    height: 1em !important;
    padding: 0em !important;
    margin: 0em !important;
}

.scoresheet-small-header {
    padding: 0em !important;
    margin: 0em !important;
}

.scoresheet-odd {
    background-color: #f8f8f8;
}

.showhide {
    display: none;
}

.player-games {
    float: left;
    position: relative;
    margin: 10px;
    min-height: 18em; /* height works for 4 games; */
}

/* svg stuff for bracket display */

.node g {
  padding: 2px;
}

.node rect {
  fill: #5b83c2;
  stroke-width: 2px;
}

.edgePath path.path {
  stroke: #fdd813;
  fill: none;
  stroke-width: 2px;
}

.bracket-w rect {
  stroke: #fdd813;
}
.bracket-w path.path {
  stroke: #fdd813;
  fill: #fdd813;
}

.bracket-l rect {
  stroke: #bfbebf
}
.bracket-l path.path {
  stroke: #bfbebf;
  fill: #bfbebf;
}

.matchup {
  margin: 2px;
  color: #5b83c2;
  border-radius: 3px;
  text-align: center;
  font-weight: normal;
}

.matchup-l {
  background-color: #bfbebf;
}

.matchup-w {
  background-color: #fdd813;
}

.matchup-participant p {
  color: #1d305f;
  padding: 1px;
  margin: 0px;
}
.matchup-participant {
  font-size: 12px;
  padding: 2px;
  min-width: 160px;
}

.arrowhead-l {
  fill: #bfbebf;
  stroke-width: 2.5px;
}

.arrowhead-w {
  fill: #fdd813;
  stroke-width: 2px;
}
