/* in support of the bootstrap templatetag module; style the 'active' nav item. */
.active {
    text-decoration: underline;
}

.mark-nobreak-player, mark-break-player {
    height: 30px;
}

.mark-break-player {
    font-weight: bold;
}

.mark-nobreak-position, .mark-break-position, .scoresheet-square {
    text-align: center;
    /* these !important declarations are needed to over-ride
        bootstrap rules that are more specific than this. */
    vertical-align: middle !important;
    padding: 4px !important;
}

.scoresheet-cell {
    vertical-align: middle !important;
    padding: 4px !important;
}

.scoresheet-square {
    vertical-align: middle;
    width: 26px;
}

.mark-nobreak-position, .mark-break-position {
    font-weight: bold;
    width: 28px;
    height: 28px;
}

.mark-break-position {
    background-color: #444444;
    color: #FFFFFF;
}

.scoresheet-divider {
    height: 1em !important;
    padding: 0em !important;
    margin: 0em !important;
}

.scoresheet-odd {
    background-color: #f8f8f8;
}
