@import url('https://fonts.googleapis.com/css?family=Rubik');

/*
   "sfpa" blue: #293a80
   "sfpa" orange: #E39230
*/

h1, h2, h3, h4, h5, h6, th, .dropdown {
  font-family: 'Rubik', sans-serif;
  color: #293a80;
}

h5, h6 {
    color: #E39230;
}

a {
    text-decoration: none;
}

a:link {
	color: #6363A0;
}

a:visited{
    color: #B444B4;
}

a:active	{
    color: #DA4A33;
}

a:hover	{
    color: #18529B;
}

/* in support of the bootstrap templatetag module; style the 'active' nav item. */
.active {
    text-decoration: underline;
}

.mark-nobreak-player, .mark-break-player {
    height: 30px;
}

.mark-break-player {
    font-weight: bold;
}

.mark-nobreak-position, .mark-break-position, .scoresheet-square {
    text-align: center;
    /* these !important declarations are needed to over-ride
        bootstrap rules that are more specific than this. */
    vertical-align: middle !important;
    padding: 4px !important;
}

.scoresheet-cell {
    vertical-align: middle !important;
    padding: 4px !important;
}

.scoresheet-square {
    vertical-align: middle;
    width: 26px;
}

.mark-nobreak-position, .mark-break-position {
    font-weight: bold;
    width: 28px;
    height: 28px;
}

.mark-break-position {
    background-color: #444444;
    color: #FFFFFF;
}

.scoresheet-divider {
    height: 1em !important;
    padding: 0em !important;
    margin: 0em !important;
}

.scoresheet-small-header {
    padding: 0em !important;
    margin: 0em !important;
}

.scoresheet-odd {
    background-color: #f8f8f8;
}

.showhide {
    display: none;
}

.player-games {
    float: left;
    position: relative;
    margin: 10px;
    min-height: 18em; /* height works for 4 games; */
}

/* non-svg stuff for bracket display */

/* dark #010038 */
/* medium #293a80 */
/* light #537ec5*/
/* contrast #f39422 aka losers, was fdd813 */

.button-section-header {
  font-family: 'Rubik', sans-serif;
  color: #010038;
  margin: 4px;
  /* css black magic courtesy https://stackoverflow.com/questions/6205191/how-can-i-stop-float-left*/
  clear: both;
  display: block;
}

#bracket-border {
  padding: 8px;
}


/*
  svg stuff for bracket display
  rect.node and g.node get no fill; all fill/color from the enclosed div
*/

.node rect {
  fill: none;
  stroke-width: 0;
}

.edgePath path.path {
  fill: none;
  stroke-width: 3px;
}

.bracket-l rect {
  stroke: #f39422;
}
.bracket-l path.path {
  stroke: #f39422;
  fill: #f39422;
}

.bracket-w rect {
  stroke: #293a80
}
.bracket-w path.path {
  stroke: #293a80;
  fill: #293a80;
  border-radius: 4px;
}

.matchup {
  margin: 2px;
  border-radius: 3px;
  text-align: center;
  font-weight: normal;
}

.matchup-l {
  background-color: #293a80;
}

.matchup-w {
  background-color: #f39422;
}

.matchup-participant ul {
  list-style-type: none;
}

/*
.matchup-participant p {
  color: #1d305f;
  padding: 1px;
  margin: 0;
}
*/
.matchup-wrapper {
  padding: 4px;
}

.matchup-wrapper-l {
  background-color: #f39422;
}
.matchup-wrapper-w {
  background-color: #537ec5;
}

.hover {
  background-color: aquamarine !important;
}

.matchup-participant {
  float: none;
  background-color: #537ec5;
  display: flex;
  width: fit-content;
  border-style: solid;
  border-radius: 3px;
  border-color: #010038;
  border-width: 2px;
  margin: 3px;
  vertical-align: middle;
}

div.matchup-participant-winner {
  font-weight: bold;
}

.matchup-participant-common {
  color: #537ec5;
  font-size: 14px;
  padding: 4px;
  vertical-align: middle;
}

.matchup-participant-seed {
  float: left;
  min-width: 4ch;
  text-align: center;
  background-color:  #010038;
  color: white;
}

.matchup-participant-names {
  padding: 3px 4px 3px 4px;
  font-weight: normal;
  color: #010038;
  background-color: white;
  /*vertical-align: center;*/
}

.label {
  /* overrides a 700 that gets set somewhere */
  font-weight: normal;
}

.arrowhead-w {
  fill: #293a80;
  stroke-width: 2px;
}

.arrowhead-l {
  fill: #f39422;
  stroke-width: 2px;
}
