<!DOCTYPE html>
<!-- Rev. {{ GIT_BRANCH }} :: {{ GIT_COMMIT }} -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title%} {% endblock %}</title>
    <!-- Apple Web App -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">

    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'sponsors' %}">Sponsors</a></li>
        <li><a href="{% url 'divisions' %}">Divisions</a></li>
        <li><a href="{% url 'matches' %}">Matches</a></li>
        <li><a href="{% url 'teams' %}">Teams</a></li>
        <li><a href="{% url 'players' %}">Players</a></li>
        <li><a href="{% url 'seasons' %}">Seasons</a></li>
        <li><a href="{% url 'weeks' %}">Weeks</a></li>
        {% if request.user %}
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Admin</a>
          <ul class="dropdown-menu">
              <li><a href="{% url 'update_teams_stats' %}">Update team stats</a></li>
              <li><a href="{% url 'update_players_stats' %}">Update player stats</a></li>
              <li><a href="{% url 'admin:index' %}">Admin Site</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      </div>
  </nav>
  <div class="container">
    <div id="content">
    {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
