{% extends "stats/base.html" %}

{% block title %}SFPA :: Players :: {{ season }}{% endblock %}

{% block content %}

<table class="table">
    <tr><th></th><th>Wins</th><th>Losses</th><th>Percent</th><th>4-0</th><th>TR</th></tr>
{% for player_summary in players %}
<tr>
    <td><a href="{% url 'player' player_summary.player.id %}">{{ player_summary.player }}</a></td>
    <td>{{ player_summary.wins }}</td>
    <td>{{ player_summary.losses }}</td>
    <td>{{ player_summary.win_percentage|floatformat:3 }}</td>
    <td>{{ player_summary.four_ohs }}</td>
    <td>{{ player_summary.table_runs }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
