    <tr><th></th><th>Home</th><th>Away</th><th>H</th><th>A</th><th colspan="2">TR?</th><th colspan="2">Forfeit?</th> </tr>
    {% for game_form in games_formset %}
        {{ game_form.id }}
        <tr>
            <td>{{ game_form.instance.order }}</td>
            <td><a href="{% url 'player' game_form.instance.home_player.id %}">{{ game_form.instance.home_player }}</a></td>
            <td><a href="{% url 'player' game_form.instance.away_player.id %}">{{ game_form.instance.away_player }}</a></td>
            {% for radio in game_form.winner %}
                <td>{{ radio.tag }}</td>
            {% endfor %}
            <td>{{ game_form.table_run }}</td>
            <td></td>
            <td>{{ game_form.forfeit }}</td>
        </tr>
    {% endfor %}
