{% extends "stats/base.html" %}

{% block title %}SFPA :: {{ week.season }} :: Week {{ week }}{% endblock %}

{% block content %}
{% if week %}
<h4>{{ week.season }}</h4>
<h2>Week {{ week.name }}</h2>
<p>{{ week.date}}</p>
{% for match in week.match_set.all %}
    <h4><a href="{% url 'match' match.id %}">{{ match.away_team }} @ {{ match.home_team }}</a></h4>
    {% if match.scoresheet_set.all %}
    <h5>Score Sheets</h5>
        <ul>
        {% for score_sheet in match.scoresheet_set.all %}
        <li>
            {% if score_sheet.creator_session == request.session.uid and not score_sheet.official %}
            <a href="{% url 'score_sheet' score_sheet.id %}">{{ score_sheet.id }}</a>
            {% else %}
            edit : <a href="{% url 'score_sheet_edit' score_sheet.id %}">{{ score_sheet.id }}</a>
            {% endif %}
        </li>
        {% endfor %}
        </ul>
    {% endif %}
    <h5><a href="{% url 'score_sheet_create' match.id %}">Create Score Sheet</a></h5>


{% endfor %}

{% endif %}
{% endblock %}
