
{% block content %}

<!--
    the csrftoken is read below in javascript to satisfy django's anti-csrf implementation,
    See: https://docs.djangoproject.com/en/2.1/ref/csrf/
-->
{% csrf_token %}

<div id="scoresheet">
    <div v-if="!owner && editable">
        <div id="is-editing-buttons" class="btn-group btn-toggle">
            <button class="btn btn-xs btn-default" @click="editMode(true)">Edit</button>
            <button class="btn btn-xs btn-primary" @click="editMode(false)">View</button>
        </div>
    <hr>
    </div>

    <div id="lineup-controls-wrapper" :class="{'hidden' : !editing}">
    <div>
        <ul class="nav nav-pills" id="lineup-controls" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="toggle-home_lineup" data-toggle="tab"
                   href="#home-lineup-content" role="tab" aria-controls="home-lineup-content"
                   aria-selected="true">Home Lineup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="toggle-home_substitutions" data-toggle="tab"
                   href="#home-substitutions-content" role="tab" aria-controls="home-substitution-content"
                   aria-selected="false">Home Subs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="toggle-away_lineup" data-toggle="tab"
                   href="#away-lineup-content" role="tab" aria-controls="away-lineup-content"
                   aria-selected="true">Away Lineup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="toggle-away_substitutions" data-toggle="tab"
                   href="#away-substitutions-content" role="tab" aria-controls="away-substitutions-content"
                   aria-selected="false">Away Subs</a>
            </li>
        </ul>
        <div class="tab-content" id="lineup-controls-tabs">
        {% with "home" as away_home %}
            <div class="tab-pane fade" id="home-lineup-content" role="tabpanel" aria-labelledby="toggle-home_lineup">
                {% with home_lineup_formset as lineup_formset %}
                {% include "stats/score_sheet_lineup_edit.html" %}
                {% endwith %}
            </div>
            <div class="tab-pane fade " id="home-substitutions-content" role="tabpanel" aria-labelledby="toggle-home_substitutions">
                {% with home_substitutions_formset as substitutions_formset %}
                {% include "stats/score_sheet_substitutions.html" %}
                {% endwith %}
            </div>
        {% endwith %}
        {% with "away" as away_home %}
            <div class="tab-pane fade" id="away-lineup-content" role="tabpanel" aria-labelledby="toggle-away_lineup">
                {% with away_lineup_formset as lineup_formset %}
                {% include "stats/score_sheet_lineup_edit.html" %}
                {% endwith %}
            </div>
            <div class="tab-pane fade " id="away-substitutions-content" role="tabpanel" aria-labelledby="toggle-away_substitutions">
                {% with away_substitutions_formset as substitutions_formset %}
                {% include "stats/score_sheet_substitutions.html" %}
                {% endwith %}
            </div>
        {% endwith %}
        </div>
    </div>

    {% if score_sheet.away_substitutions.all|length > 0 %}
    <div>
        <h5>Away Substitutions</h5>
        <ol>
        {% for sub in score_sheet.away_substitutions.all %}
            <li>{{ sub }}</li>
        {% endfor %}
        </ol>
    </div>
    {% endif %}

    {% if score_sheet.home_substitutions.all|length > 0 %}
    <div>
        <h5>Home Substitutions</h5>
        <ol>
        {% for sub in score_sheet.home_substitutions.all %}
            <li>{{ sub }}</li>
        {% endfor %}
        </ol>
    </div>
    {% endif %}
    </div> <!-- end lineup-controls-wrapper div -->


<table class="table" id="games-list">
<thead>
<tr>
    <th colspan="2" class="scoresheet-small-header" style="text-align:right;"><h5>Home</h5></th>
    <th colspan="3" class="scoresheet-small-header"></th>
    <th colspan="4" class="scoresheet-small-header"><h5>Away</h5></th>
</tr>
<tr>
    <th></th>
    <th style="text-align: right;"><h4><a :href="teams.home.url" v-html="teams.home.name"></a></h4></th>
    <th class="scoresheet-cell"><h4 style="text-align: center;" v-html="teams.home.wins"></h4></th>
    <th></th>
    <th class="scoresheet-cell"><h4 style="text-align: center;" v-html="teams.away.wins"></h4></th>
    <th><h4><a :href="teams.away.url" v-html="teams.away.name"></a></h4></th>
    <th class="scoresheet-square">Time Marked</th>
    <th class="scoresheet-square">TR</th>
    <th class="scoresheet-square">F</th>
</tr>
</thead>
<tbody>
    <template v-for="game in games">
    <tr :class="gameWrapperClasses(game.order.order)" :id="'game-wrapper-' + game.id">
        <td class="scoresheet-square">
            <div class="cell badge" v-html="game.order.order"></div>
        </td>
        <td :id="'home_player_' + game.order.home_position + '_game_' +  game.order.order" class="scoresheet-cell" align="right">
            <div class="scoresheet-cell">
                <a v-if="game.home_player" :href="game.home_player.url">
                    <span v-html="game.home_player.name"></span>
                </a>
            </div>
        </td>
        <td class="scoresheet-square">
            <div :class="game.order.home_breaks ? 'mark-break-position' : 'mark-nobreak-position'"  v-html="game.order.home_position"></div>
        </td>
        <td class="scoresheet-cell" style="text-align: center; width: 58px; ">
            <div class="btn-group" data-toggle="buttons" style="display: flex;">
                <label :class="getGameMarkClasses(game, 'home')"
                       :for="'game-winner-home-' + game.id" v-html="getMarkGameText(game, 'home')"
                        @click="markGame(game, 'home')" :disabled="! editing">
                    <input type="radio" :id="'game-winner-home-' + game.id"
                        :data-game-order="game.order.order"
                        value="home" v-model="game.winner"
                    />
                </label>
                <label :class="getGameMarkClasses(game, 'away')" style="float: left"
                        :for="'game-winner-away-' + game.id" v-html="getMarkGameText(game, 'away')"
                        @click="markGame(game, 'away')" :disabled="! editing">
                    <input type="radio" :id="'game-winner-away-' + game.id"
                        :data-game-order="game.order.order"
                        value="away" v-model="game.winner"
                    />
                </label>
            </div>
        </td>
        <td class="scoresheet-square">
            <div :class="game.order.home_breaks ? 'mark-nobreak-position' : 'mark-break-position'"  v-html="game.order.away_position"></div>
        </td>
        <td :id="'away_player_' + game.order.away_position + '_game_' +  game.order.order" class="scoresheet-cell">
            <div class="scoresheet-cell">
                <a v-if="game.away_player" :href="game.away_player.url">
                    <span v-html="game.away_player.name"></span>
                </a>
            </div>
        </td>
        <td>
            <span v-if="game.timestamp" v-html="displayDate(game.timestamp)" class="text-nowrap"></span>
        </td>

        <td class="scoresheet-square">
            <input type="checkbox" :id="'game-tr-' + game.id" v-model="game.table_run"
                    :disabled="! editing"
                    @change="submitGame(game)"
            />
        </td>
        <td class="scoresheet-square">
            <input type="checkbox" :id="'game-forfeit-' + game.id" v-model="game.forfeit"
                :disabled="! editing"
                @change="submitGame(game)"
            />
        </td>
    </tr>
    <tr v-if="game.order.order % gameGroupSize === 0">
        <td class="scoresheet-divider" colspan="10"></td>
    </tr>
    </template>
    <tr v-if="editing">
        <td></td>
        <td colspan="5">
            <div class="text-center">
                <input id="last-game-reset-button" class="btn btn-default"
                       type="button" value="reset last game"
                       @click="confirmResetLastGame()"
                />
            </div>
        </td>
        <td colspan="4"></td>
    </tr>
</tbody>
</table>
<div v-if="issues.length">
    <h4>Warnings</h4>
    <ul>
        <li v-for="issue in issues" v-html="issue"></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6" v-for="team in [teams.home, teams.away]">
        <table style="width: 100%;" class="table table-striped">
            <thead>
                <tr>
                    <th style="white-space: nowrap;" v-html="team.name"></th>
                    <th>W</th>
                    <th>L</th>
                    <th>TRs</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="player in team.players">
                    {% verbatim %}
                    <td style="white-space: nowrap;"><a :href="player.player.url">{{ player.player.name }}</a></td>
                    <td>{{ player.wins }}</td>
                    <td>{{ player.losses }}</td>
                    <td>{{ player.table_runs }}</td>
                    {% endverbatim %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row"></div>
<h4>Comment</h4>
    <div>
        <p v-if="!editing" v-html="comment"></p>
        <textarea id="scoresheet-comment" v-if="editing" v-model="comment"
                  @blur="completeMe()"
        ></textarea>
        <label for="scoresheet-comment"></label>
        <div class="text-center">
            <input v-if="editing" class="btn btn-primary" id="scoresheet-finish"
                   @click="confirmCompleteMe()" type="button" value="Finish"/>
            <label for="scoresheet-finish"></label>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){

    ScoreSheet({
        id: {{ score_sheet.id }},
        commentUrl: '{% url 'score_sheet_comment' %}',
        dataUrl: '{% url 'score_sheet_summary' score_sheet.id %}',
        gameGroupSize: {{ game_group_size }},
        gameUpdateUrl: '{% url 'game_update' %}',
        weekUrl: '{% url 'week' score_sheet.match.week.id %}',
        csrfToken: $("input[name='csrfmiddlewaretoken']").val(),
    });

});
</script>
{% endblock %}
