
{% block content %}

<!--
    the csrftoken is read below in javascript to satisfy django's anti-csrf implementation,
    See: https://docs.djangoproject.com/en/2.1/ref/csrf/
-->
{% csrf_token %}

<div id="scoresheet">

<div v-if="!owner && editable">
    <div id="is-editing-buttons" class="btn-group btn-toggle">
        <button class="btn btn-xs btn-default" @click="editMode(true)">Edit</button>
        <button class="btn btn-xs btn-primary active" @click="editMode(false)">View</button>
    </div>
</div>
<hr>

<table class="table">
<thead>
<tr>
    <th colspan="2" class="scoresheet-small-header" style="text-align:right;"><h5>Home</h5></th>
    <th colspan="3" class="scoresheet-small-header"></th>
    <th colspan="4" class="scoresheet-small-header"><h5>Away</h5></th>
</tr>
<tr>
    <th></th>
    <th style="text-align: right;"><h4><a :href="teams.home.url" v-html="teams.home.name"></a></h4></th>
    <th class="scoresheet-cell"><h4 style="text-align: center;" v-html="teams.home.wins"></h4></th>
    <th></th>
    <th class="scoresheet-cell"><h4 style="text-align: center;" v-html="teams.away.wins"></h4></th>
    <th><h4><a :href="teams.away.url" v-html="teams.away.name"></a></h4></th>
    <th class="scoresheet-square">Time Marked</th>
    <th class="scoresheet-square">TR</th>
    <th class="scoresheet-square">F</th>
</tr>
</thead>
<tbody>
    <template v-for="game in games">
    <tr :class="gameWrapperClasses(game.order.order)" :id="'game-wrapper-' + game.id">
        <td class="scoresheet-square">
            <div class="cell" v-html="game.order.order"></div>
        </td>
        <td :id="'home_player_' + game.order.home_position + '_game_' +  game.order.order" class="scoresheet-cell" align="right">
            <div class="scoresheet-cell">
                <a v-if="game.home_player" :href="game.home_player.url">
                    <span v-html="game.home_player.name"></span>
                </a>
            </div>
        </td>
        <td class="scoresheet-square">
            <div :class="{ 'mark-break-position' : game.order.home_breaks}"  v-html="game.order.home_position"></div>
        </td>
        <td class="scoresheet-cell" style="text-align: center; width: 58px; ">
            <div class="btn-group" data-toggle="buttons" style="display: flex;">
                <label :class="getGameMarkClasses(game, 'home')"
                       :for="'game-winner-home-' + game.id" v-html="getMarkGameText(game, 'home')"
                        @click="markGame(game, 'home')" :disabled="! editing">
                    <input type="radio" :id="'game-winner-home-' + game.id"
                        :data-game-order="game.order.order"
                        value="home" v-model="game.winner"
                    />
                </label>
                <label :class="getGameMarkClasses(game, 'away')" style="float: left"
                        :for="'game-winner-away-' + game.id" v-html="getMarkGameText(game, 'away')"
                        @click="markGame(game, 'away')" :disabled="! editing">
                    <input type="radio" :id="'game-winner-away-' + game.id"
                        :data-game-order="game.order.order"
                        value="away" v-model="game.winner"
                    />
                </label>
            </div>
        </td>
        <td class="scoresheet-square">
            <div :class="{ 'mark-break-position' : !game.order.home_breaks}"  v-html="game.order.away_position"></div>
        </td>
        <td :id="game.away_player +'_' + game.order.away_position + '_game_' +  game.order.order" class="scoresheet-cell">
            <div class="scoresheet-cell">
                <a v-if="game.away_player" :href="game.away_player.url">
                    <span v-html="game.away_player.name"></span>
                </a>
            </div>
        </td>
        <td>
            <span v-if="game.timestamp" v-html="displayDate(game.timestamp)" class="text-nowrap"></span>
        </td>

        <td class="scoresheet-square">
            <input type="checkbox" :id="'game-tr-' + game.id" v-model="game.table_run"
                    :disabled="! editing"
                    @change="submitGame(game)"
            />
        </td>
        <td class="scoresheet-square">
            <input type="checkbox" :id="'game-forfeit-' + game.id" v-model="game.forfeit"
                :disabled="! editing"
                @change="submitGame(game)"
            />
        </td>
    </tr>
    <tr v-if="game.order.order % gameGroupSize === 0">
        <td class="scoresheet-divider" colspan="10"></td>
    </tr>
    </template>
    <tr v-if="editing">
        <td></td>
        <td colspan="5">
            <div class="text-center">
                <input id="last-game-reset-button" class="btn btn-default"
                       type="button" value="reset last game" />
            </div>
        </td>
        <td colspan="4"></td>
    </tr>
</tbody>
</table>

<div class="row">
    <div class="col-md-6 col-sm-6" v-for="team in [teams.home, teams.away]">
        <table style="width: 100%;" class="table table-striped">
            <thead>
                <tr>
                    <th style="white-space: nowrap;" v-html="team.name"></th>
                    <th>W</th>
                    <th>L</th>
                    <th>TRs</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="player in team.players">
                    {% verbatim %}
                    <td style="white-space: nowrap;"><a :href="player.player.url">{{ player.player.name }}</a></td>
                    <td>{{ player.wins }}</td>
                    <td>{{ player.losses }}</td>
                    <td>{{ player.table_runs }}</td>
                    {% endverbatim %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

</div>

<script>
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

let csrftoken = $("input[name='csrfmiddlewaretoken']").val();

let app = new Vue({
    el: '#scoresheet',
    data: {
        games: [],
        teams: {
            // this pre-population suppresses a warning that team.(home|away) is undefined
            "home": {
                "url": null
            },
            "away": {
                "url": null
            }
        },
        editable: false,
        owner: false,
        editing: false,
        gameFormUrl: '{% url 'game_update' %}',
        dataUrl: '{% url 'score_sheet_summary' score_sheet.id %}',
        gameGroupSize: {{ game_group_size }},
    },
    watch: {
        // IDK if _both_ the `editable` and `owner` callbacks are needed.
        editable: function () {
            this.editing = this.editable && this.owner;
        },
        owner: function () {
            this.editing = this.editable && this.owner;
        },
    },
    methods: {
        updateData: function () {
            return new Promise((resolve, reject) => {
                console.log("updateData called");
                let self = this;
                $.ajax({
                    url: this.dataUrl,
                    dataType: 'json',
                    success: function (data) {
                        self.teams = data.teams;
                        self.games = data.games;
                        self.editable = data.editable;
                        self.owner = data.owner;
                        resolve();
                    },
                    headers: {
                        Accept: "application/json",
                    }
                });
            });
        },
        displayDate: function (dateString) {
            let timestamp = new Date(dateString);
            return timestamp.toLocaleTimeString('en-GB', {hour: '2-digit', minute: '2-digit'});
        },
        editMode: function(amIEditing) {
            if (this.editing !== amIEditing) {
                this.editing = amIEditing;
                $('#is-editing-buttons').find('.btn').toggleClass('active').toggleClass('btn-primary').toggleClass('btn-default');
            }
        },
        isOdd: function (number) {
            return number % 2;
        },
        gameWrapperClasses: function (number) {
            let base_classes = [];
            if (this.isOdd(number)) {
                base_classes.push('scoresheet-odd');
            }
            return base_classes.join(' ');
        },
        matchupButtonId: function (matchup, participant) {
            return ("matchup_button_" + matchup.id + '_' + participant.id);
        },
        resetLastGame: function () {
            let gameOrder = reset_last_game();
            let game = this.games.filter(b => b.order.order === parseInt(gameOrder))[0];
            game.winner = '';
            this.submitGame(game);
        },
        getMarkGameText: function (game, ha) {
            if (game.winner  === '') {
                return ha;
            } else if (game.winner === ha) {
                return '&#10003;';
            } else {
                return '&ndash;';
            }
        },
        getGameMarkClasses: function (game, ha) {
            let commonClasses = ['btn', 'btn-sm', 'mark-winner'];
            let winnerClass = 'btn-primary';
            let loserClass = 'btn-default';
            if (game.winner === ha) {
                commonClasses.push(winnerClass)
            } else {
                commonClasses.push(loserClass)
            }
            return commonClasses;
        },
        markGame: function (game, ha) {
            if (this.editing) {
                game.winner = ha;
                this.submitGame(game);
            }
        },
        submitGame: function(game) {
            let self = this;
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                dataType: 'application/json',
            });
            $.ajax({
                type: "POST",
                url: "{% url 'game_update' %}",
                dataType: "json",
                data: {
                    "game_id": game.id,
                    "winner": game.winner,
                    "table_run": game.table_run,
                    "forfeit": game.forfeit,
                },
                success: function(response) {
                    self.updateData();
                },
            });
        },
        toggleGameDetails: function() {
            $(".game_attributes").each(function(i, aDiv){
                if ($(aDiv).css('display') === 'none') {
                    $(aDiv).css('display', 'block');
                } else {
                    $(aDiv).css('display', 'none');
                }
            });
        },
        setResetGameConfirmDialog: function() {
            $("#last-game-reset-button").confirm({
                text: 'remove winner of last game?',
                confirm: reset_last_game
            });

        },
    },
    mounted: function() {
        this.updateData().then(this.setResetGameConfirmDialog);
    },
});

</script>

{% endblock %}
